/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { background: #fff; position: relative; zoom: 1; border-bottom:10px solid #1f538c;}
.flex-viewport { max-height: 325px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 325px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }
.slides li{border-bottom:1px solid #fff;}


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 5px; text-align: center;z-index:4;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: #ccccca; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
.flex-control-paging li a:hover { background: #333; background: #ccccca; }
.flex-control-paging li a.flex-active { background: #000; background: #fff; cursor: default; }


/* Direction Nav */
.flexsliderPartners{position:relative;}
.flexsliderPartners .flex-viewport,.flexsliderPartners .flex-viewport ul.slides{padding: 0 1.5em;}
.flexsliderPartners .flex-direction-nav{display:block;}
.flexsliderPartners .flex-direction-nav a {width: 20px; height: 20px; margin: -20px 0 0; display: block; background: url(images/set_tema_new2.svg) no-repeat 0 -431px; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease;background-size:1000px;}
.flexsliderPartners  .flex-direction-nav .flex-next {background-position: -20px -431px; right: 0px; }
.flexsliderPartners  .flex-direction-nav .flex-prev {left: 0px;background-position: 0 -431px;}
.flexsliderPartners  .flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexsliderPartners  .flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexsliderPartners  .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flexsliderPartners  .flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
