@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url(aos.css);
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", sans-serif; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #4d4d4d;
  text-decoration: none; }

.container {
  margin: 0 auto;
  width: 1160px; }

.content-wrapper {
  background-color: #fcfcf5; }

.back-line {
  background-color: #5da412;
  display: block;
  height: 0;
  position: absolute;
  width: 1px; }

.square {
  display: block;
  position: absolute; }

.size-1 {
  height: 17px;
  width: 17px; }

.size-2 {
  height: 22px;
  width: 22px; }

.size-3 {
  height: 25px;
  width: 25px; }

.size-4 {
  height: 57px;
  width: 57px; }

.size-5 {
  height: 94px;
  width: 94px; }

.size-6 {
  height: 104px;
  width: 104px; }

.color-dark-green {
  border: solid 1px #00681d; }

.color-green {
  border: solid 1px #5da412; }

.color-yellow {
  border: solid 1px #fcee21; }

.animation-1 {
  animation: float-1 4s linear infinite; }

.animation-2 {
  animation: float-2 5s linear infinite; }

.animation-3 {
  animation: float-3 3s linear infinite; }

.animation-4 {
  animation: float-4 4.5s linear infinite; }

.animation-5 {
  animation: float-5 6s linear infinite; }

.animation-6 {
  animation: float-6 3.5s linear infinite; }

.animation-7 {
  animation: float-7 5.5s linear infinite; }

.animation-8 {
  animation: float-8 4s linear infinite; }

@keyframes float-1 {
  0% {
    transform: translate3D(0, 0, 0) rotate(71deg); }
  50% {
    transform: translate3D(0, -20px, 0) rotate(71deg); }
  100% {
    transform: translate3D(0, 0, 0) rotate(71deg); } }
@keyframes float-2 {
  0% {
    transform: translate3D(0, 0, 0) rotate(57deg); }
  50% {
    transform: translate3D(-10px, 15px, 0) rotate(57deg); }
  100% {
    transform: translate3D(0, 0, 0) rotate(57deg); } }
@keyframes float-3 {
  0% {
    transform: translate3D(0, 0, 0) rotate(33deg); }
  50% {
    transform: translate3D(0, -5px, 0) rotate(33deg); }
  100% {
    transform: translate3D(0, 0, 0) rotate(33deg); } }
@keyframes float-4 {
  0% {
    transform: translate3D(0, 0, 0) rotate(16deg); }
  50% {
    transform: translate3D(5px, -5px, 0) rotate(16deg); }
  100% {
    transform: translate3D(0, 0, 0) rotate(16deg); } }
@keyframes float-5 {
  0% {
    transform: translate3D(0, 0, 0) rotate(-12deg); }
  50% {
    transform: translate3D(-15px, 20px, 0) rotate(-12deg); }
  100% {
    transform: translate3D(0, 0, 0) rotate(-12deg); } }
@keyframes float-6 {
  0% {
    transform: translate3D(0, 0, 0) rotate(93deg); }
  50% {
    transform: translate3D(30px, -10px, 0) rotate(93deg); }
  100% {
    transform: translate3D(0, 0, 0) rotate(93deg); } }
@keyframes float-7 {
  0% {
    transform: translate3D(0, 0, 0) rotate(-21deg); }
  50% {
    transform: translate3D(-20px, -20px, 0) rotate(-21deg); }
  100% {
    transform: translate3D(0, 0, 0) rotate(-21deg); } }
@keyframes float-8 {
  0% {
    transform: translate3D(0, 0, 0) rotate(18deg); }
  50% {
    transform: translate3D(10px, 20px, 0) rotate(18deg); }
  100% {
    transform: translate3D(0, 0, 0) rotate(18deg); } }
@media all and (max-width: 1199px) {
  .container {
    width: 960px; } }
@media all and (max-width: 1000px) {
  .container {
    width: 720px; } }
.top-padding {
  height: 144px; }

.header-wrapper {
  background-color: #fff;
  border-bottom: solid 1px #ccc;
  left: 0;
  min-height: 144px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9; }
  .header-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .header-wrapper header .logo {
    background: url(../img/logo.svg) no-repeat;
    background-size: cover;
    display: inline-block;
    float: left;
    height: 99px;
    margin: 20px 0 24px;
    text-indent: -9999px;
    width: 258px; }
  .header-wrapper header .burger {
    display: none; }
  .header-wrapper header .right {
    display: inline-block;
    float: right; }
    .header-wrapper header .right .links a {
      display: inline-block;
      float: right;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      margin-left: 15px;
      padding: 9px 12px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      transition: opacity 0.2s; }
      .header-wrapper header .right .links a.private {
        background-color: #fcee21;
        color: #4d4d4d; }
      .header-wrapper header .right .links a.supermarkets {
        background-color: #5da412;
        color: #fff; }
      .header-wrapper header .right .links a:hover {
        opacity: 0.9; }
    .header-wrapper header .right .links .search-form {
      display: inline-block;
      float: right;
      position: relative; }
      .header-wrapper header .right .links .search-form input {
        border: none;
        padding: 0;
        font-size: 14px;
        line-height: 20px;
        -webkit-transition: width 0.4s;
        -moz-transition: width 0.4s;
        -ms-transition: width 0.4s;
        transition: width 0.4s;
        width: 0; }
      .header-wrapper header .right .links .search-form span, .header-wrapper header .right .links .search-form button {
        background: url(../img/search.svg) center center no-repeat;
        background-size: 12px 12px;
        display: block;
        height: 38px;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        top: 0;
        width: 38px; }
      .header-wrapper header .right .links .search-form button {
        border: none;
        display: none; }
      .header-wrapper header .right .links .search-form.active input {
        border-bottom: solid 1px #d3d3d3;
        padding: 8px 10px;
        width: 300px; }
      .header-wrapper header .right .links .search-form.active span {
        display: none; }
      .header-wrapper header .right .links .search-form.active button {
        display: block; }
    .header-wrapper header .right .menu ul {
      clear: both;
      list-style: none;
      margin: 88px 0 0;
      padding: 0; }
      .header-wrapper header .right .menu ul > li {
        display: inline-block;
        float: left;
        font-size: 20px;
        font-weight: 600;
        line-height: 40px;
        margin-left: 45px;
        position: relative;
        text-transform: uppercase; }
        .header-wrapper header .right .menu ul > li.active > a, .header-wrapper header .right .menu ul > li:hover > a {
          color: #5da412; }
        .header-wrapper header .right .menu ul > li:hover ul {
          display: block; }
        .header-wrapper header .right .menu ul > li > a {
          color: #4d4d4d;
          text-decoration: none; }
        .header-wrapper header .right .menu ul > li ul {
          background-color: #fff;
          border: solid 1px #5da412;
          display: none;
          list-style: none;
          margin: 0;
          padding: 10px 20px;
          position: absolute;
          width: 260px; }
          .header-wrapper header .right .menu ul > li ul:before {
            background-color: #5da412;
            display: block;
            height: 10px;
            content: " ";
            transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            position: absolute;
            top: -5px;
            width: 10px; }
          .header-wrapper header .right .menu ul > li ul li {
            font-size: 18px;
            margin: 0; }
            .header-wrapper header .right .menu ul > li ul li a {
              color: #4d4d4d;
              text-decoration: none; }
              .header-wrapper header .right .menu ul > li ul li a:hover {
                color: #5da412; }

@media all and (max-width: 1199px) {
  .top-padding {
    height: 114px; }

  .header-wrapper {
    min-height: 114px; }
    .header-wrapper header .logo {
      height: 79px;
      margin: 15px 0 19px;
      width: 206px; }
    .header-wrapper header .right .menu {
      margin: 67px 0 0; }
      .header-wrapper header .right .menu > li {
        font-size: 18px;
        line-height: 36px;
        margin-left: 30px; }
        .header-wrapper header .right .menu > li ul {
          padding: 10px 15px;
          width: 230px; }
          .header-wrapper header .right .menu > li ul li {
            font-size: 16px; } }
@media all and (max-width: 1000px) {
  .top-padding {
    height: 90px; }

  .header-wrapper {
    min-height: 90px; }
    .header-wrapper header .logo {
      height: 56px;
      margin: 15px 0 18px;
      width: 146px; }
    .header-wrapper header .right .links a {
      font-size: 12px;
      line-height: 20px;
      margin-left: 12px;
      padding: 3px 10px; }
    .header-wrapper header .right .links .search-form input {
      font-size: 12px;
      line-height: 20px; }
    .header-wrapper header .right .links .search-form span, .header-wrapper header .right .links .search-form button {
      background-size: 12px 12px;
      height: 26px;
      width: 26px; }
    .header-wrapper header .right .links .search-form.active input {
      padding: 3px 10px;
      width: 240px; }
    .header-wrapper header .right .menu {
      margin: 53px 0 0; }
      .header-wrapper header .right .menu > li {
        font-size: 14px;
        line-height: 24px;
        margin-left: 20px; }
        .header-wrapper header .right .menu > li ul {
          padding: 10px 15px;
          width: 230px; }
          .header-wrapper header .right .menu > li ul span {
            height: 10px;
            top: -5px;
            width: 10px; }
          .header-wrapper header .right .menu > li ul li {
            font-size: 16px; } }
.footer-wrapper {
  background-color: #999;
  padding: 65px 0 90px; }
  .footer-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .footer-wrapper footer .logo {
    background: url(../img/logo2.svg) no-repeat;
    background-size: cover;
    display: inline-block;
    float: left;
    height: 99px;
    text-indent: -9999px;
    width: 258px; }
  .footer-wrapper footer .right {
    display: inline-block;
    float: left; }
    .footer-wrapper footer .right .columns:after {
      content: "";
      display: table;
      clear: both; }
    .footer-wrapper footer .right .columns .column {
      display: inline-block;
      float: left; }
      .footer-wrapper footer .right .columns .column.col1 {
        list-style: none;
        margin: 0 0 0 80px;
        max-width: 210px;
        padding: 0; }
        .footer-wrapper footer .right .columns .column.col1 li {
          font-size: 18px;
          line-height: 25px; }
          .footer-wrapper footer .right .columns .column.col1 li a {
            color: #fff;
            text-decoration: none; }
            .footer-wrapper footer .right .columns .column.col1 li a:hover {
              text-decoration: underline; }
      .footer-wrapper footer .right .columns .column.col2 {
        color: #fff;
        font-size: 18px;
        line-height: 25px;
        margin: 0 0 0 70px;
        max-width: 240px; }
      .footer-wrapper footer .right .columns .column.col3 {
        margin: 0 0 0 70px;
        max-width: 330px; }
        .footer-wrapper footer .right .columns .column.col3 p {
          margin: 0; }
          .footer-wrapper footer .right .columns .column.col3 p.tel {
            margin-bottom: 12px; }
            .footer-wrapper footer .right .columns .column.col3 p.tel a {
              color: #fcee21;
              font-size: 24px;
              line-height: 32px; }
          .footer-wrapper footer .right .columns .column.col3 p a {
            color: #fff;
            font-size: 18px;
            line-height: 25px;
            text-decoration: none; }
            .footer-wrapper footer .right .columns .column.col3 p a:hover {
              text-decoration: underline; }
    .footer-wrapper footer .right .logos {
      margin: 35px 0 0 80px; }
      .footer-wrapper footer .right .logos a {
        display: inline-block;
        float: left;
        margin-right: 12px; }
        .footer-wrapper footer .right .logos a img {
          height: 38px; }

@media all and (max-width: 1199px) {
  .footer-wrapper {
    padding: 45px 0 65px; }
    .footer-wrapper footer .logo {
      height: 79px;
      width: 206px; }
    .footer-wrapper footer .right .columns .column.col1 {
      margin: 0 0 0 50px;
      max-width: 180px; }
      .footer-wrapper footer .right .columns .column.col1 li {
        font-size: 16px; }
    .footer-wrapper footer .right .columns .column.col2 {
      font-size: 16px;
      margin: 0 0 0 40px;
      max-width: 210px; }
    .footer-wrapper footer .right .columns .column.col3 {
      margin: 0 0 0 40px;
      max-width: 300px; }
      .footer-wrapper footer .right .columns .column.col3 p.tel a {
        font-size: 22px; }
      .footer-wrapper footer .right .columns .column.col3 p a {
        font-size: 16px; }
    .footer-wrapper footer .right .logos {
      margin: 35px 0 0 50px; } }
@media all and (max-width: 1000px) {
  .footer-wrapper {
    padding: 35px 0 55px; }
    .footer-wrapper footer .logo {
      height: 56px;
      width: 146px; }
    .footer-wrapper footer .right .columns .column.col1 {
      margin: 0 0 0 20px;
      max-width: 150px; }
      .footer-wrapper footer .right .columns .column.col1 li {
        font-size: 13px;
        line-height: 22px; }
    .footer-wrapper footer .right .columns .column.col2 {
      font-size: 13px;
      line-height: 22px;
      margin: 0 0 0 20px;
      max-width: 180px; }
    .footer-wrapper footer .right .columns .column.col3 {
      margin: 0 0 0 20px;
      max-width: 220px; }
      .footer-wrapper footer .right .columns .column.col3 p.tel {
        margin-bottom: 12px; }
        .footer-wrapper footer .right .columns .column.col3 p.tel a {
          font-size: 22px;
          line-height: 28px; }
      .footer-wrapper footer .right .columns .column.col3 p a {
        font-size: 13px;
        line-height: 22px; }
    .footer-wrapper footer .right .logos {
      margin: 35px 0 0 20px; }
      .footer-wrapper footer .right .logos a {
        margin-right: 12px; }
        .footer-wrapper footer .right .logos a img {
          height: 28px; } }
.slider-wrapper {
  padding: 129px 0 0; }
  .slider-wrapper .container {
    position: relative; }
    .slider-wrapper .container .square.s1 {
      opacity: 0.7;
      right: 60px;
      top: 68px; }
    .slider-wrapper .container .square.s2 {
      opacity: 0.26;
      right: -30px;
      top: 130px; }
    .slider-wrapper .container .square.s3 {
      left: -100px;
      opacity: 0.56;
      top: 560px; }
    .slider-wrapper .container .square.s4 {
      left: -150px;
      opacity: 0.26;
      top: 640px; }
    .slider-wrapper .container .square.s5 {
      left: -40px;
      opacity: 0.57;
      top: 740px; }
  .slider-wrapper header {
    margin: 0 auto;
    position: relative;
    width: 510px; }
    .slider-wrapper header h1 {
      color: #999;
      font-size: 40px;
      font-weight: 400;
      margin: 0; }
      .slider-wrapper header h1 strong {
        color: #5da412;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase; }
    .slider-wrapper header p {
      color: #666;
      font-size: 18px;
      margin: 27px 0 0; }
    .slider-wrapper header .back-line {
      left: 110px;
      max-height: 920px;
      top: 240px;
      z-index: 1; }
  .slider-wrapper .slider {
    height: 494px;
    margin-top: 50px;
    position: relative; }
    .slider-wrapper .slider .flex-control-nav {
      display: none; }
    .slider-wrapper .slider .flex-viewport {
      height: 100%;
      margin: 0 40px;
      z-index: 3; }
    .slider-wrapper .slider .slides {
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0; }
      .slider-wrapper .slider .slides li {
        height: 100%;
        position: relative;
        width: 100%; }
        .slider-wrapper .slider .slides li .frame {
          position: absolute; }
          .slider-wrapper .slider .slides li .frame img {
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1; }
          .slider-wrapper .slider .slides li .frame .text {
            left: 0;
            position: absolute;
            right: 0;
            z-index: 2; }
            .slider-wrapper .slider .slides li .frame .text h3 {
              color: #fff;
              font-size: 38px;
              font-weight: 700;
              margin: 0;
              text-align: center;
              text-transform: uppercase; }
            .slider-wrapper .slider .slides li .frame .text p {
              color: #fff;
              font-size: 18px;
              margin: 0 auto;
              text-align: center;
              z-index: 2; }
          .slider-wrapper .slider .slides li .frame .overlay {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1; }
          .slider-wrapper .slider .slides li .frame.frame1 {
            background-color: #00681d;
            height: 377px;
            left: 0;
            top: 69px;
            width: 376px;
            z-index: 3; }
            .slider-wrapper .slider .slides li .frame.frame1 .text {
              top: 188px; }
              .slider-wrapper .slider .slides li .frame.frame1 .text p {
                max-width: 240px; }
            .slider-wrapper .slider .slides li .frame.frame1 .overlay {
              background: #00681d;
              background: -moz-linear-gradient(top, rgba(0, 104, 29, 0.39) 0%, #00681d 60%, #00681d 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 104, 29, 0.39)), color-stop(60%, #00681d), color-stop(100%, #00681d));
              background: -webkit-linear-gradient(top, rgba(0, 104, 29, 0.39) 0%, #00681d 60%, #00681d 100%);
              background: -o-linear-gradient(top, rgba(0, 104, 29, 0.39) 0%, #00681d 60%, #00681d 100%);
              background: -ms-linear-gradient(top, rgba(0, 104, 29, 0.39) 0%, #00681d 60%, #00681d 100%);
              background: linear-gradient(to bottom, rgba(0, 104, 29, 0.39) 0%, #00681d 60%, #00681d 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$topColor', endColorstr='$bottomColor', GradientType=0); }
          .slider-wrapper .slider .slides li .frame.frame2 {
            background-color: #f9e946;
            height: 421px;
            left: 343px;
            top: 0;
            width: 433px;
            z-index: 2; }
            .slider-wrapper .slider .slides li .frame.frame2 .text {
              top: 175px; }
              .slider-wrapper .slider .slides li .frame.frame2 .text h3 {
                color: #666; }
              .slider-wrapper .slider .slides li .frame.frame2 .text p {
                color: #666;
                max-width: 340px; }
            .slider-wrapper .slider .slides li .frame.frame2 .overlay {
              background: #f9e946;
              background: -moz-linear-gradient(top, rgba(249, 233, 70, 0.32) 0%, #f9e946 60%, #f9e946 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(249, 233, 70, 0.32)), color-stop(60%, #f9e946), color-stop(100%, #f9e946));
              background: -webkit-linear-gradient(top, rgba(249, 233, 70, 0.32) 0%, #f9e946 60%, #f9e946 100%);
              background: -o-linear-gradient(top, rgba(249, 233, 70, 0.32) 0%, #f9e946 60%, #f9e946 100%);
              background: -ms-linear-gradient(top, rgba(249, 233, 70, 0.32) 0%, #f9e946 60%, #f9e946 100%);
              background: linear-gradient(to bottom, rgba(249, 233, 70, 0.32) 0%, #f9e946 60%, #f9e946 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$topColor', endColorstr='$bottomColor', GradientType=0); }
          .slider-wrapper .slider .slides li .frame.frame3 {
            height: 335px;
            left: 729px;
            top: 160px;
            width: 348px;
            z-index: 3; }
            .slider-wrapper .slider .slides li .frame.frame3 .text {
              top: 141px; }
              .slider-wrapper .slider .slides li .frame.frame3 .text p {
                max-width: 265px; }
            .slider-wrapper .slider .slides li .frame.frame3 .overlay {
              background: #5da527;
              background: -moz-linear-gradient(top, rgba(93, 165, 39, 0.39) 0%, #5da527 60%, #5da527 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(93, 165, 39, 0.39)), color-stop(60%, #5da527), color-stop(100%, #5da527));
              background: -webkit-linear-gradient(top, rgba(93, 165, 39, 0.39) 0%, #5da527 60%, #5da527 100%);
              background: -o-linear-gradient(top, rgba(93, 165, 39, 0.39) 0%, #5da527 60%, #5da527 100%);
              background: -ms-linear-gradient(top, rgba(93, 165, 39, 0.39) 0%, #5da527 60%, #5da527 100%);
              background: linear-gradient(to bottom, rgba(93, 165, 39, 0.39) 0%, #5da527 60%, #5da527 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$topColor', endColorstr='$bottomColor', GradientType=0); }
    .slider-wrapper .slider nav a {
      background: url(../img/arrow.svg) no-repeat;
      background-size: cover;
      display: block;
      height: 27px;
      left: 0;
      position: absolute;
      text-indent: -9999px;
      top: 276px;
      width: 14px; }
      .slider-wrapper .slider nav a.flex-next {
        left: auto;
        right: 0;
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        text-indent: 9999px; }
  .slider-wrapper .sentence {
    background-color: #e6e6e6;
    border: solid 1px #ccc;
    font-size: 18px;
    line-height: 24px;
    margin: 30px 0 0;
    padding: 35px 0;
    position: relative;
    text-align: center;
    z-index: 3; }

.history-wrapper {
  margin-top: 120px; }
  .history-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .history-wrapper .left {
    display: inline-block;
    float: left;
    text-align: right;
    width: 36.5%; }
    .history-wrapper .left h2 {
      color: #999;
      font-size: 40px;
      font-weight: 400;
      margin: 58px 0 0; }
      .history-wrapper .left h2 strong {
        color: #5da412;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase; }
    .history-wrapper .left p {
      color: #666;
      font-size: 18px;
      margin: 20px 0 0; }
  .history-wrapper .right {
    background-color: rgba(255, 243, 57, 0.3);
    display: inline-block;
    float: right;
    position: relative;
    width: 61%; }
    .history-wrapper .right ul {
      list-style: none;
      margin: 0;
      padding: 40px 0 40px 87px; }
      .history-wrapper .right ul li {
        margin: 30px 0; }
        .history-wrapper .right ul li a {
          color: #666;
          font-size: 21px;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase; }
          .history-wrapper .right ul li a:hover {
            text-decoration: underline; }
    .history-wrapper .right .back-line {
      right: 80px;
      max-height: 500px;
      top: 130px;
      z-index: 2; }

.work-wrapper {
  margin-top: 120px; }
  .work-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .work-wrapper .container {
    position: relative; }
    .work-wrapper .container .square.s1 {
      opacity: 0.26;
      right: -50px;
      top: -92px; }
    .work-wrapper .container .square.s2 {
      opacity: 0.26;
      right: -140px;
      top: -20px; }
    .work-wrapper .container .square.s3 {
      opacity: 0.77;
      right: 30px;
      top: 60px; }
  .work-wrapper header {
    margin: 0 auto;
    max-width: 800px; }
    .work-wrapper header h2 {
      color: #999;
      font-size: 40px;
      font-weight: 400;
      margin: 58px 0 0; }
      .work-wrapper header h2 strong {
        color: #5da412;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase; }
    .work-wrapper header p {
      color: #666;
      font-size: 18px;
      margin: 20px 0 0; }
    .work-wrapper header a {
      background-color: #fcee21;
      color: #4d4d4d;
      display: inline-block;
      float: right;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      padding: 8px 30px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; }
      .work-wrapper header a:hover {
        background-color: #4d4d4d;
        color: #fcee21; }
  .work-wrapper .left {
    display: inline-block;
    float: left;
    height: 448px;
    margin-top: 20px;
    position: relative;
    width: 70%; }
    .work-wrapper .left img {
      left: 0;
      position: absolute;
      width: 56%; }
    .work-wrapper .left .yellow {
      background-color: rgba(255, 243, 57, 0.88);
      height: 164px;
      position: absolute;
      left: 115px;
      top: 240px;
      width: 20%;
      z-index: 1; }
    .work-wrapper .left .green {
      background-color: rgba(93, 164, 18, 0.92);
      height: 392px;
      padding: 85px 22px 0;
      position: absolute;
      right: 0;
      top: 56px;
      width: 70%;
      z-index: 2; }
      .work-wrapper .left .green h3 {
        color: #fff;
        font-size: 36px;
        font-weight: 400; }
        .work-wrapper .left .green h3 strong {
          font-weight: 700; }
    .work-wrapper .left .back-line {
      left: 185px;
      max-height: 245px;
      top: 330px;
      z-index: 2; }
  .work-wrapper .right {
    display: inline-block;
    float: right;
    width: 30%; }
    .work-wrapper .right ul {
      list-style: none;
      margin: 0;
      padding: 20px 0 40px 40px; }
      .work-wrapper .right ul li {
        margin: 30px 0; }
        .work-wrapper .right ul li a {
          color: #666;
          font-size: 21px;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase; }
          .work-wrapper .right ul li a:hover {
            text-decoration: underline; }

.companies-wrapper {
  margin-top: 120px; }
  .companies-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .companies-wrapper .container {
    position: relative; }
    .companies-wrapper .container .square.s1 {
      left: -30px;
      opacity: 1;
      top: -148px; }
    .companies-wrapper .container .square.s2 {
      left: 40px;
      opacity: 0.32;
      top: -110px; }
    .companies-wrapper .container .square.s3 {
      left: -100px;
      opacity: 0.64;
      top: -60px; }
  .companies-wrapper .left {
    display: inline-block;
    float: left;
    position: relative;
    text-align: center;
    width: 35%; }
    .companies-wrapper .left h2 {
      color: #999;
      font-size: 40px;
      font-weight: 400;
      margin: 34px 0 0; }
      .companies-wrapper .left h2 strong {
        color: #5da412;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase; }
  .companies-wrapper .right {
    column-count: 2;
    column-gap: 80px;
    display: inline-block;
    float: left;
    margin-bottom: 40px;
    width: 54.6%; }
    .companies-wrapper .right p {
      color: #4d4d4d;
      font-size: 18px;
      margin: 0 0 15px; }
  .companies-wrapper .companies-slider {
    background-color: rgba(179, 179, 179, 0.93);
    clear: both;
    height: 350px;
    position: relative; }
    .companies-wrapper .companies-slider .flex-control-nav {
      display: none; }
    .companies-wrapper .companies-slider .flex-viewport {
      height: 100%;
      margin: 0 40px; }
    .companies-wrapper .companies-slider .slides {
      list-style: none;
      margin: 0;
      padding: 125px 0; }
      .companies-wrapper .companies-slider .slides li {
        height: 100px;
        text-align: center; }
        .companies-wrapper .companies-slider .slides li img {
          height: 100%;
          width: auto; }
    .companies-wrapper .companies-slider nav a {
      background: url(../img/arrow_white.svg) no-repeat;
      background-size: cover;
      display: block;
      height: 27px;
      left: 20px;
      position: absolute;
      text-indent: -9999px;
      top: 172px;
      width: 14px; }
      .companies-wrapper .companies-slider nav a.flex-next {
        left: auto;
        right: 20px;
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        text-indent: 9999px; }
    .companies-wrapper .companies-slider .back-line {
      left: 300px;
      max-height: 500px;
      top: 320px;
      z-index: 2; }
  .companies-wrapper .contact {
    background-color: #fcee21;
    display: inline-block;
    float: right;
    height: 355px;
    margin-right: 77px;
    margin-top: -120px;
    padding: 154px 40px 0;
    width: 355px; }
    .companies-wrapper .contact p {
      color: #4d4d4d;
      font-size: 18px; }
    .companies-wrapper .contact a {
      border: solid 1px #4d4d4d;
      color: #4d4d4d;
      display: block;
      font-size: 18px;
      line-height: 30px;
      padding: 18px 0;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%; }
      .companies-wrapper .contact a:hover {
        background-color: #4d4d4d;
        border: solid 1px #fcee21;
        color: #fcee21; }

.map-wrapper {
  padding-top: 140px; }
  .map-wrapper .container {
    position: relative; }
    .map-wrapper .container .square.s1 {
      left: -30px;
      opacity: 0.68;
      top: -242px; }
    .map-wrapper .container .square.s2 {
      left: 0;
      opacity: 1;
      top: -150px; }
  .map-wrapper.map-page {
    padding-top: 0;
    padding-bottom: 120px; }
  .map-wrapper .left {
    display: inline-block;
    float: left;
    width: 46%; }
    .map-wrapper .left h2 {
      color: #999;
      font-size: 40px;
      font-weight: 400;
      margin: 0; }
      .map-wrapper .left h2 strong {
        color: #5da412;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase; }
    .map-wrapper .left p {
      color: #666;
      font-size: 18px;
      margin: 20px 0 0; }
  .map-wrapper .right {
    display: inline-block;
    float: right;
    width: 48%; }
    .map-wrapper .right ul {
      column-count: 2;
      column-gap: 50px;
      list-style: none;
      margin: 60px 0 0;
      padding: 0; }
      .map-wrapper .right ul li {
        font-size: 21px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 20px; }
        .map-wrapper .right ul li a {
          color: #4d4d4d;
          text-decoration: none;
          text-transform: uppercase; }
          .map-wrapper .right ul li a:hover {
            text-decoration: underline; }
  .map-wrapper .map {
    clear: both;
    position: relative; }
    .map-wrapper .map svg {
      height: auto;
      width: 100%; }
    .map-wrapper .map .marker {
      background: url(../img/marker.svg) no-repeat;
      background-size: cover;
      height: 27px;
      opacity: 0.88;
      overflow: hidden;
      position: absolute;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      transition: all 0.4s;
      width: 21px; }
      .map-wrapper .map .marker .dino {
        background: url(../img/dino.svg) no-repeat;
        background-size: cover;
        display: block;
        height: 15px;
        width: 19px; }
      .map-wrapper .map .marker .info {
        display: none;
        padding: 20px; }
        .map-wrapper .map .marker .info p {
          color: #666;
          font-size: 16px;
          margin: 0; }
      .map-wrapper .map .marker.active {
        background: #fcee21;
        height: 168px;
        opacity: 1;
        width: 168px; }
        .map-wrapper .map .marker.active .dino {
          display: none; }
        .map-wrapper .map .marker.active .info {
          display: block; }
      .map-wrapper .map .marker.gc {
        left: 664px;
        top: 330px; }
      .map-wrapper .map .marker.tf {
        left: 448px;
        top: 238px; }
      .map-wrapper .map .marker.lp {
        left: 67px;
        top: 155px; }
      .map-wrapper .map .marker.lz {
        left: 1067px;
        top: 108px; }
      .map-wrapper .map .marker.fv {
        left: 892px;
        top: 344px; }

.volunteer-wrapper {
  background: url(../img/volunteer.png) center top repeat-y;
  margin-top: 100px; }
  .volunteer-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .volunteer-wrapper .left {
    background-color: #fcee21;
    display: inline-block;
    float: left;
    padding: 22px 0 24px;
    position: relative;
    width: 17.8%; }
    .volunteer-wrapper .left p {
      color: #666;
      font-size: 21px;
      font-weight: 700;
      margin: 0;
      text-align: center;
      text-transform: uppercase; }
    .volunteer-wrapper .left:after {
      background-color: #fcee21;
      content: ' ';
      display: block;
      height: 14px;
      position: absolute;
      right: -3px;
      top: 42px;
      transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      width: 14px; }
  .volunteer-wrapper .right {
    background-color: #666;
    display: inline-block;
    float: left;
    padding: 18px 0 21px 45px;
    width: 82.2%; }
    .volunteer-wrapper .right p {
      color: #fff;
      display: inline-block;
      float: left;
      font-size: 24px;
      margin: 0 25px 0 0;
      text-align: right; }
      .volunteer-wrapper .right p strong {
        color: #fcee21;
        font-size: 21px;
        font-weight: 400;
        text-transform: uppercase; }
    .volunteer-wrapper .right input {
      background: transparent;
      border: solid 1px #fff;
      color: #fff;
      display: inline-block;
      float: left;
      font-size: 18px;
      line-height: 25px;
      margin: 5px 15px 0 0;
      padding: 12px 20px 8px;
      width: 380px; }
    .volunteer-wrapper .right button {
      background: transparent;
      border: solid 1px #fff;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      float: left;
      font-size: 18px;
      line-height: 25px;
      margin-top: 5px;
      padding: 10px 40px;
      text-transform: uppercase; }
      .volunteer-wrapper .right button:hover {
        background-color: #fff;
        color: #666; }

@media all and (max-width: 1199px) {
  .slider-wrapper {
    padding: 50px 0 0; }
    .slider-wrapper header {
      width: 510px; }
      .slider-wrapper header h1 {
        font-size: 40px;
        margin: 0; }
        .slider-wrapper header h1 strong {
          font-size: 48px; }
      .slider-wrapper header p {
        font-size: 18px;
        margin: 27px 0 0; }
      .slider-wrapper header .back-line {
        left: 190px;
        max-height: 800px;
        top: 240px; }
    .slider-wrapper .slider {
      height: 395px;
      margin-top: 40px; }
      .slider-wrapper .slider .flex-viewport {
        margin: 0 32px; }
      .slider-wrapper .slider .slides li .frame .text h3 {
        font-size: 30px;
        margin: 0; }
      .slider-wrapper .slider .slides li .frame .text p {
        font-size: 15px;
        margin: 0 auto; }
      .slider-wrapper .slider .slides li .frame.frame1 {
        height: 312px;
        left: 0;
        top: 55px;
        width: 311px; }
        .slider-wrapper .slider .slides li .frame.frame1 .text {
          top: 150px; }
          .slider-wrapper .slider .slides li .frame.frame1 .text p {
            max-width: 240px; }
      .slider-wrapper .slider .slides li .frame.frame2 {
        height: 347px;
        left: 284px;
        top: 0;
        width: 356px; }
        .slider-wrapper .slider .slides li .frame.frame2 .text {
          top: 160px; }
          .slider-wrapper .slider .slides li .frame.frame2 .text p {
            max-width: 240px; }
      .slider-wrapper .slider .slides li .frame.frame3 {
        height: 278px;
        left: 603px;
        top: 128px;
        width: 288px; }
        .slider-wrapper .slider .slides li .frame.frame3 .text {
          top: 113px; }
          .slider-wrapper .slider .slides li .frame.frame3 .text p {
            max-width: 230px; }
      .slider-wrapper .slider nav a {
        height: 27px;
        left: 0;
        top: 206px;
        width: 14px; }
        .slider-wrapper .slider nav a.flex-next {
          left: auto;
          right: 0; }
    .slider-wrapper .sentence {
      font-size: 18px;
      line-height: 24px;
      margin: 30px 0 0;
      padding: 25px 0; }

  .history-wrapper {
    margin-top: 80px; }
    .history-wrapper .left {
      width: 36.5%; }
      .history-wrapper .left h2 {
        font-size: 40px;
        margin: 58px 0 0; }
        .history-wrapper .left h2 strong {
          font-size: 48px; }
      .history-wrapper .left p {
        font-size: 18px;
        margin: 20px 0 0; }
    .history-wrapper .right {
      width: 61%; }
      .history-wrapper .right ul {
        padding: 40px 0 40px 87px; }
        .history-wrapper .right ul li {
          margin: 30px 0; }
          .history-wrapper .right ul li a {
            font-size: 21px; }
      .history-wrapper .right .back-line {
        right: 80px;
        max-height: 370px;
        top: 130px; }

  .work-wrapper {
    margin-top: 120px; }
    .work-wrapper header {
      max-width: 800px; }
      .work-wrapper header h2 {
        font-size: 40px;
        margin: 58px 0 0; }
        .work-wrapper header h2 strong {
          font-size: 48px; }
      .work-wrapper header p {
        font-size: 18px;
        margin: 20px 0 0; }
      .work-wrapper header a {
        font-size: 14px;
        line-height: 20px;
        padding: 8px 30px; }
    .work-wrapper .left {
      height: 448px;
      margin-top: 20px;
      width: 70%; }
      .work-wrapper .left img {
        left: 0;
        width: 56%; }
      .work-wrapper .left .yellow {
        height: 131px;
        left: 115px;
        top: 240px;
        width: 20%; }
      .work-wrapper .left .green {
        height: 284px;
        padding: 85px 22px 0;
        right: 0;
        top: 56px;
        width: 70%; }
        .work-wrapper .left .green h3 {
          font-size: 29px; }
      .work-wrapper .left .back-line {
        left: 185px;
        max-height: 245px;
        top: 290px; }
    .work-wrapper .right {
      width: 30%; }
      .work-wrapper .right ul {
        padding: 20px 0 40px 40px; }
        .work-wrapper .right ul li {
          margin: 30px 0; }
          .work-wrapper .right ul li a {
            font-size: 21px; }

  .companies-wrapper {
    margin-top: 80px; }
    .companies-wrapper .left {
      width: 35%; }
      .companies-wrapper .left h2 {
        font-size: 40px;
        margin: 34px 0 0; }
        .companies-wrapper .left h2 strong {
          font-size: 48px; }
    .companies-wrapper .right {
      column-gap: 80px;
      margin-bottom: 40px;
      width: 54.6%; }
      .companies-wrapper .right p {
        font-size: 18px;
        margin: 0 0 15px; }
    .companies-wrapper .companies-slider {
      height: 250px; }
      .companies-wrapper .companies-slider .flex-viewport {
        margin: 0 40px; }
      .companies-wrapper .companies-slider .slides {
        padding: 85px 0; }
        .companies-wrapper .companies-slider .slides li {
          height: 80px; }
      .companies-wrapper .companies-slider nav a {
        height: 27px;
        left: 20px;
        top: 111px;
        width: 14px; }
        .companies-wrapper .companies-slider nav a.flex-next {
          left: auto;
          right: 20px; }
      .companies-wrapper .companies-slider .back-line {
        left: 300px;
        max-height: 360px;
        top: 230px; }
    .companies-wrapper .contact {
      height: 250px;
      margin-right: 77px;
      margin-top: -60px;
      padding: 64px 30px 0;
      width: 250px; }
      .companies-wrapper .contact p {
        font-size: 16px; }
      .companies-wrapper .contact a {
        font-size: 16px;
        line-height: 24px;
        padding: 8px 0; }

  .map-wrapper {
    padding-top: 60px; }
    .map-wrapper.map-page {
      padding-top: 60px;
      padding-bottom: 120px; }
    .map-wrapper .left {
      width: 46%; }
      .map-wrapper .left h2 {
        font-size: 40px; }
        .map-wrapper .left h2 strong {
          font-size: 48px; }
      .map-wrapper .left p {
        font-size: 18px;
        margin: 20px 0 0; }
    .map-wrapper .right {
      width: 48%; }
      .map-wrapper .right ul {
        column-gap: 50px;
        margin: 75px 0 0; }
        .map-wrapper .right ul li {
          font-size: 21px;
          line-height: 30px;
          margin-bottom: 20px; }
    .map-wrapper .map .marker {
      height: 27px;
      width: 21px; }
      .map-wrapper .map .marker .dino {
        height: 15px;
        width: 19px; }
      .map-wrapper .map .marker .info {
        padding: 20px; }
        .map-wrapper .map .marker .info p {
          font-size: 16px; }
      .map-wrapper .map .marker.active {
        height: 168px;
        width: 168px; }
      .map-wrapper .map .marker.gc {
        left: 549px;
        top: 314px; }
      .map-wrapper .map .marker.tf {
        left: 369px;
        top: 236px; }
      .map-wrapper .map .marker.lp {
        left: 54px;
        top: 170px; }
      .map-wrapper .map .marker.lz {
        left: 881px;
        top: 132px; }
      .map-wrapper .map .marker.fv {
        left: 736px;
        top: 324px; }

  .volunteer-wrapper {
    margin-top: 100px; }
    .volunteer-wrapper .left {
      padding: 22px 0 24px;
      width: 22%; }
      .volunteer-wrapper .left p {
        font-size: 18px; }
      .volunteer-wrapper .left:after {
        height: 14px;
        right: -3px;
        top: 42px;
        width: 14px; }
    .volunteer-wrapper .right {
      padding: 18px 0 21px 45px;
      width: 78%; }
      .volunteer-wrapper .right p {
        font-size: 20px;
        margin: 0 25px 0 0; }
        .volunteer-wrapper .right p strong {
          font-size: 18px; }
      .volunteer-wrapper .right input {
        font-size: 18px;
        line-height: 25px;
        margin: 2px 15px 0 0;
        padding: 12px 20px 8px;
        width: 280px; }
      .volunteer-wrapper .right button {
        font-size: 16px;
        line-height: 25px;
        margin-top: 2px;
        padding: 10px 30px; } }
@media all and (max-width: 1000px) {
  .slider-wrapper {
    padding: 50px 0 0; }
    .slider-wrapper header {
      width: 510px; }
      .slider-wrapper header h1 {
        font-size: 40px;
        margin: 0; }
        .slider-wrapper header h1 strong {
          font-size: 48px; }
      .slider-wrapper header p {
        font-size: 18px;
        margin: 27px 0 0; }
      .slider-wrapper header .back-line {
        left: 190px;
        max-height: 610px;
        top: 240px; }
    .slider-wrapper .slider {
      height: 292px;
      margin-top: 40px; }
      .slider-wrapper .slider .flex-viewport {
        margin: 0 26px; }
      .slider-wrapper .slider .slides li .frame .text h3 {
        font-size: 24px;
        margin: 0; }
      .slider-wrapper .slider .slides li .frame .text p {
        font-size: 12px;
        margin: 0 auto; }
      .slider-wrapper .slider .slides li .frame.frame1 {
        height: 232px;
        left: 0;
        top: 40px;
        width: 231px; }
        .slider-wrapper .slider .slides li .frame.frame1 .text {
          top: 115px; }
          .slider-wrapper .slider .slides li .frame.frame1 .text p {
            max-width: 173px; }
      .slider-wrapper .slider .slides li .frame.frame2 {
        height: 257px;
        left: 211px;
        top: 0;
        width: 264px; }
        .slider-wrapper .slider .slides li .frame.frame2 .text {
          top: 122px; }
          .slider-wrapper .slider .slides li .frame.frame2 .text p {
            max-width: 173px; }
      .slider-wrapper .slider .slides li .frame.frame3 {
        height: 207px;
        left: 448px;
        top: 92px;
        width: 214px; }
        .slider-wrapper .slider .slides li .frame.frame3 .text {
          top: 88px; }
          .slider-wrapper .slider .slides li .frame.frame3 .text p {
            max-width: 166px; }
      .slider-wrapper .slider nav a {
        height: 27px;
        left: 0;
        top: 150px;
        width: 14px; }
        .slider-wrapper .slider nav a.flex-next {
          left: auto;
          right: 0; }
    .slider-wrapper .sentence {
      font-size: 16px;
      line-height: 24px;
      margin: 30px 0 0;
      padding: 20px 0; }

  .history-wrapper {
    margin-top: 50px; }
    .history-wrapper .left {
      width: 36.5%; }
      .history-wrapper .left h2 {
        font-size: 40px;
        margin: 28px 0 0; }
        .history-wrapper .left h2 strong {
          font-size: 48px; }
      .history-wrapper .left p {
        font-size: 18px;
        margin: 20px 0 0; }
    .history-wrapper .right {
      width: 61%; }
      .history-wrapper .right ul {
        padding: 30px 0 30px 57px; }
        .history-wrapper .right ul li {
          margin: 30px 0; }
          .history-wrapper .right ul li a {
            font-size: 18px; }
      .history-wrapper .right .back-line {
        right: 80px;
        max-height: 320px;
        top: 120px; }

  .work-wrapper {
    margin-top: 70px; }
    .work-wrapper header {
      max-width: 800px; }
      .work-wrapper header h2 {
        font-size: 40px;
        margin: 58px 0 0; }
        .work-wrapper header h2 strong {
          font-size: 48px; }
      .work-wrapper header p {
        font-size: 18px;
        margin: 20px 0 0; }
      .work-wrapper header a {
        font-size: 14px;
        line-height: 20px;
        padding: 8px 30px; }
    .work-wrapper .left {
      height: 448px;
      margin-top: 20px;
      width: 70%; }
      .work-wrapper .left img {
        left: 0;
        width: 56%; }
      .work-wrapper .left .yellow {
        height: 98px;
        left: 85px;
        top: 155px;
        width: 20%; }
      .work-wrapper .left .green {
        height: 213px;
        padding: 25px 22px 0;
        right: 0;
        top: 56px;
        width: 70%; }
        .work-wrapper .left .green h3 {
          font-size: 29px; }
      .work-wrapper .left .back-line {
        left: 120px;
        max-height: 285px;
        top: 175px; }
    .work-wrapper .right {
      width: 30%; }
      .work-wrapper .right ul {
        padding: 20px 0 40px 20px; }
        .work-wrapper .right ul li {
          margin: 30px 0; }
          .work-wrapper .right ul li a {
            font-size: 18px; }

  .companies-wrapper {
    margin-top: 30px; }
    .companies-wrapper .left {
      width: 35%; }
      .companies-wrapper .left h2 {
        font-size: 40px;
        margin: 34px 0 0; }
        .companies-wrapper .left h2 strong {
          font-size: 48px; }
    .companies-wrapper .right {
      column-gap: 30px;
      margin-bottom: 40px;
      padding-left: 40px;
      width: 54.6%; }
      .companies-wrapper .right p {
        font-size: 16px;
        margin: 0 0 15px; }
    .companies-wrapper .companies-slider {
      height: 180px; }
      .companies-wrapper .companies-slider .flex-viewport {
        margin: 0 40px; }
      .companies-wrapper .companies-slider .slides {
        padding: 61px 0; }
        .companies-wrapper .companies-slider .slides li {
          height: 58px; }
      .companies-wrapper .companies-slider nav a {
        height: 27px;
        left: 20px;
        top: 74px;
        width: 14px; }
        .companies-wrapper .companies-slider nav a.flex-next {
          left: auto;
          right: 20px; }
      .companies-wrapper .companies-slider .back-line {
        left: 250px;
        max-height: 350px;
        top: 165px; }
    .companies-wrapper .contact {
      height: 250px;
      margin-right: 50px;
      margin-top: -60px;
      padding: 64px 30px 0;
      width: 250px; }
      .companies-wrapper .contact p {
        font-size: 16px; }
      .companies-wrapper .contact a {
        font-size: 16px;
        line-height: 24px;
        padding: 8px 0; }

  .map-wrapper {
    padding-top: 60px; }
    .map-wrapper.map-page {
      padding-top: 60px;
      padding-bottom: 120px; }
    .map-wrapper .left {
      width: 46%; }
      .map-wrapper .left h2 {
        font-size: 40px; }
        .map-wrapper .left h2 strong {
          font-size: 48px; }
      .map-wrapper .left p {
        font-size: 18px;
        margin: 20px 0 0; }
    .map-wrapper .right {
      width: 48%; }
      .map-wrapper .right ul {
        column-gap: 50px;
        margin: 75px 0 0; }
        .map-wrapper .right ul li {
          font-size: 18px;
          line-height: 25px;
          margin-bottom: 20px; }
    .map-wrapper .map .marker {
      height: 27px;
      width: 21px; }
      .map-wrapper .map .marker .dino {
        height: 15px;
        width: 19px; }
      .map-wrapper .map .marker .info {
        padding: 20px; }
        .map-wrapper .map .marker .info p {
          font-size: 16px; }
      .map-wrapper .map .marker.active {
        height: 168px;
        width: 168px; }
      .map-wrapper .map .marker.gc {
        left: 549px;
        top: 314px; }
      .map-wrapper .map .marker.tf {
        left: 369px;
        top: 236px; }
      .map-wrapper .map .marker.lp {
        left: 54px;
        top: 170px; }
      .map-wrapper .map .marker.lz {
        left: 881px;
        top: 132px; }
      .map-wrapper .map .marker.fv {
        left: 736px;
        top: 324px; }

  .volunteer-wrapper {
    margin-top: 60px; }
    .volunteer-wrapper .left {
      padding: 22px 0 20px;
      width: 22%; }
      .volunteer-wrapper .left p {
        font-size: 16px; }
      .volunteer-wrapper .left:after {
        height: 14px;
        right: -3px;
        top: 34px;
        width: 14px; }
    .volunteer-wrapper .right {
      padding: 18px 0 21px 15px;
      width: 78%; }
      .volunteer-wrapper .right p {
        font-size: 18px;
        margin: 0 15px 0 0; }
        .volunteer-wrapper .right p strong {
          font-size: 16px; }
      .volunteer-wrapper .right input {
        font-size: 14px;
        line-height: 20px;
        margin: 2px 10px 0 0;
        padding: 10px 20px 6px;
        width: 200px; }
      .volunteer-wrapper .right button {
        font-size: 14px;
        line-height: 20px;
        margin-top: 2px;
        padding: 10px 20px 6px; } }
.breadcrumb {
  color: #b3b3b3;
  font-size: 1em;
  line-height: 20px;
  margin-bottom: 40px;
  padding: 40px 0 0 0; }
  .breadcrumb ol {
    padding: 0;
    list-style-type: none; }
    .breadcrumb ol li {
      display: block;
      float: left;
      padding-right: 1em; }
      .breadcrumb ol li a {
        color: #b3b3b3;
        text-decoration: none;
        display: block;
        float: left; }
        .breadcrumb ol li a:hover {
          text-decoration: underline; }

.page-wrapper:after {
  content: "";
  display: table;
  clear: both; }
.page-wrapper h1 {
  color: #999;
  font-size: 36px;
  font-weight: 400;
  margin: 0; }
  .page-wrapper h1 strong {
    color: #5da412;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase; }

.popups {
  display: none; }

.path-intranet-voluntariado h1, .path-intranet-voluntariado .breadcrumb {
  display: none; }
.path-intranet-voluntariado h2 {
  text-transform: uppercase; }
.path-intranet-voluntariado .titulo-intranet {
  width: 50%;
  margin: 1em auto; }
  .path-intranet-voluntariado .titulo-intranet h1 {
    display: block;
    width: auto;
    margin: 0 auto;
    text-align: center; }
    .path-intranet-voluntariado .titulo-intranet h1 strong {
      color: #5da412; }
.path-intranet-voluntariado .flexslider-noticias-intranet {
  width: 80%;
  margin: 0 auto;
  position: relative; }
  .path-intranet-voluntariado .flexslider-noticias-intranet .imagen {
    width: 70%; }
  .path-intranet-voluntariado .flexslider-noticias-intranet .texto-slider {
    width: 30%;
    position: absolute;
    height: 100%;
    background: rgba(255, 243, 57, 0.29);
    right: 0;
    top: 0; }
    .path-intranet-voluntariado .flexslider-noticias-intranet .texto-slider h2 a {
      color: #5da412;
      text-decoration: none; }
    .path-intranet-voluntariado .flexslider-noticias-intranet .texto-slider .interior {
      padding: 0 10% 0 10%; }
  .path-intranet-voluntariado .flexslider-noticias-intranet .flex-direction-nav a.flex-prev {
    background: url(../img/arrow.svg) no-repeat;
    background-size: cover;
    display: block;
    height: 27px;
    left: -30px;
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    width: 14px; }
  .path-intranet-voluntariado .flexslider-noticias-intranet .flex-direction-nav a.flex-next {
    background: url(../img/arrow.svg) no-repeat;
    background-size: cover;
    display: block;
    height: 27px;
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    width: 14px;
    left: auto;
    right: -30px;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    text-indent: 9999px; }
.path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 {
  padding-top: 3em;
  width: 43%;
  margin-right: 3%;
  float: left; }
  .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 h2 {
    background: #5da412;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0.3em 0 0.3em 0; }
  .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 .vista-cadena-de-favores {
    border: 1px solid #fde18c;
    border-top: 0;
    padding: 1em 0.5em 0 0.5em; }
    .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 .vista-cadena-de-favores:after {
      content: "";
      display: table;
      clear: both; }
    .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 .vista-cadena-de-favores header p:first-child {
      margin-top: 0;
      float: left; }
    .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 .vista-cadena-de-favores .intro {
      font-size: 0.9em;
      clear: both; }
    .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 .vista-cadena-de-favores header ul {
      float: left;
      margin: 0; }
      .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 .vista-cadena-de-favores header ul li {
        display: inline-block;
        list-style-type: none; }
        .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 .vista-cadena-de-favores header ul li a {
          color: #4d4d4d;
          padding: 5px 10px;
          text-decoration: none; }
          .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 .vista-cadena-de-favores header ul li a:hover {
            background: #fcee21;
            color: #000; }
  .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 .views-row {
    clear: both;
    padding-top: 0em; }
  .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 .imagen {
    float: left;
    width: 30%;
    padding-right: 3%; }
  .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 .texto-cadena-favor {
    float: left;
    width: 67%; }
    .path-intranet-voluntariado #block-views-block-cadena-de-favores-block-1 .texto-cadena-favor p {
      font-size: 0.9em; }
.path-intranet-voluntariado #block-formularioweb {
  margin-top: 3em;
  width: 22%;
  padding: 0 1% 0 1%;
  float: left;
  margin-right: 3%;
  background: #f6f6f3;
  border: 1px solid #5da412;
  text-align: center; }
  .path-intranet-voluntariado #block-formularioweb h2 {
    color: #5da412; }
  .path-intranet-voluntariado #block-formularioweb textarea {
    width: 100%;
    border: 1px solid #5da412;
    margin-top: 2em; }
  .path-intranet-voluntariado #block-formularioweb .form-item {
    font-size: 0.8em; }
  .path-intranet-voluntariado #block-formularioweb .webform-button--submit {
    margin: 1em;
    width: 200px;
    color: #fff;
    background: #5da412;
    text-align: center; }
.path-intranet-voluntariado #block-views-block-concursos-block-1 {
  padding-top: 3em;
  width: 27%;
  float: left; }
  .path-intranet-voluntariado #block-views-block-concursos-block-1 h2 {
    color: #5da412;
    text-align: right;
    margin: 0; }
  .path-intranet-voluntariado #block-views-block-concursos-block-1 header p {
    margin-top: 0;
    text-align: right; }
  .path-intranet-voluntariado #block-views-block-concursos-block-1 .contenedor-concurso {
    background: #5da412;
    color: #fff;
    padding: 0.5em; }
    .path-intranet-voluntariado #block-views-block-concursos-block-1 .contenedor-concurso a {
      color: #fff;
      text-decoration: none; }
  .path-intranet-voluntariado #block-views-block-concursos-block-1 .item-list {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .path-intranet-voluntariado #block-views-block-concursos-block-1 .item-list ul {
      margin: 0;
      padding: 0; }
      .path-intranet-voluntariado #block-views-block-concursos-block-1 .item-list ul li {
        padding: 0;
        margin: 0;
        list-style-type: none; }
.path-intranet-voluntariado #block-views-block-voluntarios-block-1 {
  clear: both;
  padding-top: 3em; }
  .path-intranet-voluntariado #block-views-block-voluntarios-block-1 .flexslider-voluntarios {
    position: relative; }
    .path-intranet-voluntariado #block-views-block-voluntarios-block-1 .flexslider-voluntarios h2 {
      font-weight: normal;
      text-align: center;
      text-transform: none; }
      .path-intranet-voluntariado #block-views-block-voluntarios-block-1 .flexslider-voluntarios h2 span {
        color: #5da412; }
    .path-intranet-voluntariado #block-views-block-voluntarios-block-1 .flexslider-voluntarios .flex-viewport {
      background: rgba(255, 243, 57, 0.29); }
    .path-intranet-voluntariado #block-views-block-voluntarios-block-1 .flexslider-voluntarios .slides li {
      padding: 0.5em; }
      .path-intranet-voluntariado #block-views-block-voluntarios-block-1 .flexslider-voluntarios .slides li .views-field-field-nombre a {
        text-transform: uppercase;
        color: #4d4d4d;
        text-align: center;
        display: block;
        font-weight: bold;
        text-decoration: none; }
    .path-intranet-voluntariado #block-views-block-voluntarios-block-1 .flexslider-voluntarios .flex-direction-nav a.flex-prev {
      background: url(../img/arrow.svg) no-repeat;
      background-size: cover;
      display: block;
      height: 27px;
      left: -30px;
      position: absolute;
      text-indent: -9999px;
      top: 45%;
      width: 14px; }
    .path-intranet-voluntariado #block-views-block-voluntarios-block-1 .flexslider-voluntarios .flex-direction-nav a.flex-next {
      background: url(../img/arrow.svg) no-repeat;
      background-size: cover;
      display: block;
      height: 27px;
      position: absolute;
      text-indent: -9999px;
      top: 45%;
      width: 14px;
      left: auto;
      right: -30px;
      transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      text-indent: 9999px; }
.path-intranet-voluntariado #block-views-block-programas-block-1 {
  width: 45%;
  float: left;
  padding-right: 2.5%;
  border-right: 1px solid #fde18c;
  margin-right: 2.5%;
  margin-top: 3em; }
  .path-intranet-voluntariado #block-views-block-programas-block-1:after {
    content: "";
    display: table;
    clear: both; }
  .path-intranet-voluntariado #block-views-block-programas-block-1 h2 {
    color: #5da412;
    margin: 0;
    padding: 0; }
  .path-intranet-voluntariado #block-views-block-programas-block-1 header p {
    font-size: 0.8em;
    margin: 0; }
  .path-intranet-voluntariado #block-views-block-programas-block-1 .views-row {
    clear: both;
    padding-top: 1em; }
  .path-intranet-voluntariado #block-views-block-programas-block-1 .fecha {
    width: 10%;
    float: left;
    background: #5da412;
    color: #fff;
    text-align: center;
    padding: 0.5em 0; }
  .path-intranet-voluntariado #block-views-block-programas-block-1 .programa_dcha {
    float: left;
    margin-left: 5%;
    width: 85%; }
    .path-intranet-voluntariado #block-views-block-programas-block-1 .programa_dcha p {
      margin: 0.2em 0; }
    .path-intranet-voluntariado #block-views-block-programas-block-1 .programa_dcha .titulo a {
      color: #4d4d4d;
      text-transform: uppercase;
      text-decoration: none; }
  .path-intranet-voluntariado #block-views-block-programas-block-1 .meapunto a {
    display: block;
    float: right;
    padding: 0.5em 1em;
    font-weight: bold;
    text-transform: lowercase;
    color: #4d4d4d;
    text-decoration: none;
    background: #fcee21; }
    .path-intranet-voluntariado #block-views-block-programas-block-1 .meapunto a:after {
      content: "";
      display: table;
      clear: both; }
.path-intranet-voluntariado #block-views-block-entrevistas-block-1 {
  width: 47.5%;
  padding-left: 2.5%;
  float: left;
  margin-top: 3em; }

.carta {
  padding-bottom: 80px; }
  .carta .left {
    display: inline-block;
    float: left;
    padding: 30px 0 35px;
    position: relative;
    width: 40%; }
    .carta .left p {
      color: #4d4d4d;
      font-size: 18px;
      margin: 0 0 15px;
      position: relative;
      z-index: 1; }
    .carta .left h3 {
      color: #333;
      font-size: 18px;
      margin: 40px 0 10px;
      position: relative;
      z-index: 1; }
    .carta .left h4 {
      color: #5da412;
      font-size: 18px;
      margin: 0 0 10px;
      position: relative;
      z-index: 1; }
    .carta .left:after {
      background-color: rgba(255, 243, 57, 0.29);
      bottom: 0;
      content: ' ';
      display: block;
      left: -50px;
      position: absolute;
      top: 260px;
      width: calc(100% + 100px);
      z-index: 0; }
  .carta .right {
    display: inline-block;
    float: right;
    width: 60%; }

/*# sourceMappingURL=style.css.map */
