<div data-aos='fade-zoom-in' data-aos-offset='0' data-aos-easing='ease-in-back' data-aos-delay='500' data-aos-duration='400'>
<h2 class="titulo_interior"></h2>
{% if items|length == 1 %}
	{{ items }} 
{% endif %}

{% if items|length > 1 %}
	<div class="galeria-de-fotos-int">
    <ul class="slides">
		{% for item in items %}
		  <li>{{ item.content }}</li>
		{% endfor %}
    </ul>
	</div>
{% endif %}
</div>