{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

	<div class="header-wrapper">
	    <header class="container">
	        <a href="#" class="burger">Menú</a>
	
	        <a href="/" class="logo">Fundación DinoSol</a>
	
	        <div class="right">
	            <div class="links">
	                <a href="#popup_area_privada" class="private popup-with-zoom-anim">Área privada</a>
	                <a href="http://www.dinosol.es" target="_blank" class="supermarkets">DinoSol Supermercados</a>
	            </div>	        
	          <div class="menu">	  
			     {{ page.header }}
			  </div>
			</div>  		    		  
		</header>
	</div>
	
	<div class="top-padding"></div>
        <div class="content-wrapper">
        	<div class="page-wrapper">
		    {% if page.portada %}
		      <div class="slider_portada">			
		            {{ page.portada }}
		      </div>
		    {% endif %}

		 	{% if is_front == false %}		    		      
		        <main id="content" class="column main-content" role="main">
		          <section class="container section">
		            <a id="main-content" tabindex="-1"></a>
					{{ page.breadcrumb }}
		            {{ page.content }}				
		          </section>
		        </main>		      
			{% endif %}
			</div>
		</div>
		
	<div class="footer-wrapper">
	    <footer class="container">
	        <a href="/" class="logo">Fundación DinoSol</a>
	
	        <div class="right">
	            <div class="columns">
	                <ul class="column col1">
	                    <li><a href="/legal">Aviso legal</a></li>
	                    <li><a href="/privacidad">Política de privacidad</a></li>
	                    <li><a href="/cookies">Cookies</a></li>
	                    <li><a href="https://ateigh.com" target="_blank">Diseño Web Ateigh</a></li>
	                </ul>
	                <p class="column col2">C/Luis Correa Medina, 9 Oficinas 1a Planta - Miller Bajo 35013 - Las Palmas de G.C.
	                	<br /><span style="padding-top:0.4em;display:block;">Ctra. del Rosario, 6, Oficinas. Santa Cruz de Tenerife 38009 Tenerife</span>
	                </p>
	                <div class="column col3">
	                    <p class="tel"><a href="tel:900504040">900 50 40 40</a></p>
	                    <p><a href="mailto:fundacion.dinosol@grupodinosol.es">fundacion.dinosol@grupodinosol.es</a></p>
	                    <p><a href="http://www.hiperdino.es">www.hiperdino.es</a></p>
	                </div>
	            </div>
	            <div class="logos">
	            	<div class="linea1">
	                <a href="http://www.dinosol.es/" target="_blank"><img src="/themes/dinosol/img/dinosol.jpg" alt="Grupo DinoSol" /></a>
	                <a href="http://www.hiperdino.es/" target="_blank"><img src="/themes/dinosol/img/hiperdino.jpg" alt="HiperDino" /></a>
	                <a href="http://www.hiperdinoexpress.es/" target="_blank"><img src="/themes/dinosol/img/express.jpg" alt="HiperDino Express" /></a>
	                <a href="http://www.hiperdino.es/" target="_blank"><img src="/themes/dinosol/img/da.png" alt="DA+" /></a>                
	                </div>
	                <div class="linea2">
	                <a href="http://www.hiperdino.es/" target="_blank"><img src="/themes/dinosol/img/superdino.jpg" alt="SuperDino" /></a>                
	                <a href="http://www.hiperdino.es/" target="_blank"><img src="/themes/dinosol/img/logo_dinoshop.jpg" alt="DinoShop" /></a>
	                <a href="https://online.hiperdino.es/" target="_blank"><img src="/themes/dinosol/img/logo_hd_online.jpg" alt="HiperDino" /></a>
	                
	                </div>
	            </div>
	        </div>
	    </footer>
	    
	</div>
	
	{% if page.popup %}
	<div class="popups">		
		{{ page.popup }}
	</div>	
	{% endif %}
