// main: ../app.scss

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

.content-wrapper {
    background-color: $color-bg;
}

.back-line {
    background-color: $color-green;
    display: block;
    height: 0;
    position: absolute;
    width: 1px;
}

.square {
    display: block;
    position: absolute;
}

.size-1 {
    height: 17px;
    width: 17px;
}

.size-2 {
    height: 22px;
    width: 22px;
}

.size-3 {
    height: 25px;
    width: 25px;
}

.size-4 {
    height: 57px;
    width: 57px;
}

.size-5 {
    height: 94px;
    width: 94px;
}

.size-6 {
    height: 104px;
    width: 104px;
}

.color-dark-green {
    border: solid 1px $color-dark-green;
}

.color-green {
    border: solid 1px $color-green;
}

.color-yellow {
    border: solid 1px $color-yellow;
}

.animation-1 {
    animation: float-1 4s linear infinite;
}

.animation-2 {
    animation: float-2 5s linear infinite;
}

.animation-3 {
    animation: float-3 3s linear infinite;
}

.animation-4 {
    animation: float-4 4.5s linear infinite;
}

.animation-5 {
    animation: float-5 6s linear infinite;
}

.animation-6 {
    animation: float-6 3.5s linear infinite;
}

.animation-7 {
    animation: float-7 5.5s linear infinite;
}

.animation-8 {
    animation: float-8 4s linear infinite;
}

@keyframes float-1 {
	0% {
		transform: translate3D(0, 0, 0) rotate(71deg);
	}
	50% {
		transform: translate3D(0, -20px, 0) rotate(71deg);
	}
	100% {
		transform: translate3D(0, 0, 0) rotate(71deg);
	}
}

@keyframes float-2 {
	0% {
		transform: translate3D(0, 0, 0) rotate(57deg);
	}
	50% {
		transform: translate3D(-10px, 15px, 0) rotate(57deg);
	}
	100% {
		transform: translate3D(0, 0, 0) rotate(57deg);
	}
}

@keyframes float-3 {
	0% {
		transform: translate3D(0, 0, 0) rotate(33deg);
	}
	50% {
		transform: translate3D(0, -5px, 0) rotate(33deg);
	}
    100% {
		transform: translate3D(0, 0, 0) rotate(33deg);
	}
}

@keyframes float-4 {
	0% {
		transform: translate3D(0, 0, 0) rotate(16deg);
	}
	50% {
		transform: translate3D(5px, -5px, 0) rotate(16deg);
	}
    100% {
		transform: translate3D(0, 0, 0) rotate(16deg);
	}
}

@keyframes float-5 {
	0% {
		transform: translate3D(0, 0, 0) rotate(-12deg);
	}
	50% {
		transform: translate3D(-15px, 20px, 0) rotate(-12deg);
	}
    100% {
		transform: translate3D(0, 0, 0) rotate(-12deg);
	}
}

@keyframes float-6 {
	0% {
		transform: translate3D(0, 0, 0) rotate(93deg);
	}
	50% {
		transform: translate3D(30px, -10px, 0) rotate(93deg);
	}
    100% {
		transform: translate3D(0, 0, 0) rotate(93deg);
	}
}

@keyframes float-7 {
	0% {
		transform: translate3D(0, 0, 0) rotate(-21deg);
	}
	50% {
		transform: translate3D(-20px, -20px, 0) rotate(-21deg);
	}
    100% {
		transform: translate3D(0, 0, 0) rotate(-21deg);
	}
}

@keyframes float-8 {
	0% {
		transform: translate3D(0, 0, 0) rotate(18deg);
	}
	50% {
		transform: translate3D(10px, 20px, 0) rotate(18deg);
	}
    100% {
		transform: translate3D(0, 0, 0) rotate(18deg);
	}
}

@media all and (max-width: 1199px) {
    .container {
        width: 960px;
    }
}

@media all and (max-width: 1000px) {
    .container {
        width: 720px;
    }
}
