// main: ../app.scss

$color-bg: #fcfcf5;
$color-dark-green: #00681d;
$color-green: #5da412;
$color-grey: #4d4d4d;
$color-yellow: #fcee21;
$color-white: #fff;

$font-primary: 'Source Sans Pro', sans-serif;
