// main: ../app.scss

.carta {
    padding-bottom: 80px;
    
    .left {
        display: inline-block;
        float: left;
        padding: 30px 0 35px;
        position: relative;
        width: 40%;

        p {
            color: $color-grey;
            font-size: 18px;
            margin: 0 0 15px;
            position: relative;
            z-index: 1;
        }

        h3 {
            color: #333;
            font-size: 18px;
            margin: 40px 0 10px;
            position: relative;
            z-index: 1;
        }

        h4 {
            color: $color-green;
            font-size: 18px;
            margin: 0 0 10px;
            position: relative;
            z-index: 1;
        }

        &:after {
            background-color: rgba(255, 243, 57, 0.29);
            bottom: 0;
            content: ' ';
            display: block;
            left: -50px;
            position: absolute;
            top: 260px;
            width: calc(100% + 100px);
            z-index: 0;
        }
    }

    .right {
        display: inline-block;
        float: right;
        width: 60%;
    }
}
