// main: ../app.scss

.footer-wrapper {
    background-color: #999;
    @include clearfix;
    padding: 65px 0 90px;

    footer {
        .logo {
            background: url(../img/logo2.svg) no-repeat;
            background-size: cover;
            display: inline-block;
            float: left;
            height: 99px;
            text-indent: -9999px;
            width: 258px;
        }

        .right {
            display: inline-block;
            float: left;

            .columns {
                @include clearfix;

                .column {
                    display: inline-block;
                    float: left;

                    &.col1 {
                        list-style: none;
                        margin: 0 0 0 80px;
                        max-width: 210px;
                        padding: 0;

                        li {
                            font-size: 18px;
                            line-height: 25px;

                            a {
                                color: $color-white;
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    &.col2 {
                        color: $color-white;
                        font-size: 18px;
                        line-height: 25px;
                        margin: 0 0 0 70px;
                        max-width: 240px;
                    }

                    &.col3 {
                        margin: 0 0 0 70px;
                        max-width: 330px;

                        p {
                            margin: 0;

                            &.tel {
                                margin-bottom: 12px;

                                a {
                                    color: $color-yellow;
                                    font-size: 24px;
                                    line-height: 32px;
                                }
                            }

                            a {
                                color: $color-white;
                                font-size: 18px;
                                line-height: 25px;
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }

            .logos {
                margin: 35px 0 0 80px;

                a {
                    display: inline-block;
                    float: left;
                    margin-right: 12px;

                    img {
                        height: 38px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1199px) {
    .footer-wrapper {
        padding: 45px 0 65px;

        footer {
            .logo {
                height: 79px;
                width: 206px;
            }

            .right {
                .columns {
                    .column {
                        &.col1 {
                            margin: 0 0 0 50px;
                            max-width: 180px;

                            li {
                                font-size: 16px;
                            }
                        }

                        &.col2 {
                            font-size: 16px;
                            margin: 0 0 0 40px;
                            max-width: 210px;
                        }

                        &.col3 {
                            margin: 0 0 0 40px;
                            max-width: 300px;

                            p {
                                &.tel {
                                    a {
                                        font-size: 22px;
                                    }
                                }

                                a {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }

                .logos {
                    margin: 35px 0 0 50px;
                }
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .footer-wrapper {
        padding: 35px 0 55px;

        footer {
            .logo {
                height: 56px;
                width: 146px;
            }

            .right {
                .columns {
                    .column {
                        &.col1 {
                            margin: 0 0 0 20px;
                            max-width: 150px;

                            li {
                                font-size: 13px;
                                line-height: 22px;
                            }
                        }

                        &.col2 {
                            font-size: 13px;
                            line-height: 22px;
                            margin: 0 0 0 20px;
                            max-width: 180px;
                        }

                        &.col3 {
                            margin: 0 0 0 20px;
                            max-width: 220px;

                            p {
                                &.tel {
                                    margin-bottom: 12px;

                                    a {
                                        font-size: 22px;
                                        line-height: 28px;
                                    }
                                }

                                a {
                                    font-size: 13px;
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }

                .logos {
                    margin: 35px 0 0 20px;

                    a {
                        margin-right: 12px;

                        img {
                            height: 28px;
                        }
                    }
                }
            }
        }
    }
}
