// main: ../app.scss

.top-padding {
    height: 144px;
}

.header-wrapper {
    background-color: $color-white;
    border-bottom: solid 1px #ccc;
    @include clearfix;
    left: 0;
    min-height: 144px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;

    header {
        .logo {
            background: url(../img/logo.svg) no-repeat;
            background-size: cover;
            display: inline-block;
            float: left;
            height: 99px;
            margin: 20px 0 24px;
            text-indent: -9999px;
            width: 258px;
        }

        .right {
            display: inline-block;
            float: right;

            .links {
                a {
                    display: inline-block;
                    float: right;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    margin-left: 15px;
                    padding: 9px 12px;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    @include transition(opacity 0.2s);

                    &.private {
                        background-color: $color-yellow;
                        color: $color-grey;
                    }

                    &.supermarkets {
                        background-color: $color-green;
                        color: $color-white;
                    }

                    &:hover {
                        opacity: 0.9;
                    }
                }

                .search-form {
                    display: inline-block;
                    float: right;
                    position: relative;

                    input {
                        border: none;
                        padding: 0;
                        font-size: 14px;
                        line-height: 20px;
                        @include transition(width 0.4s);
                        width: 0;
                    }

                    span, button {
                        background: url(../img/search.svg) center center no-repeat;
                        background-size: 12px 12px;
                        display: block;
                        height: 38px;
                        position: absolute;
                        right: 0;
                        text-indent: -9999px;
                        top: 0;
                        width: 38px;
                    }

                    button {
                        border: none;
                        display: none;
                    }

                    &.active {
                        input {
                            border-bottom: solid 1px #d3d3d3;
                            padding: 8px 10px;
                            width: 300px;
                        }

                        span {
                            display: none;
                        }

                        button {
                            display: block;
                        }
                    }
                }
            }

            .menu {
                clear: both;
                list-style: none;
                margin: 88px 0 0;
                padding: 0;

                > li {
                    display: inline-block;
                    float: left;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 40px;
                    margin-left: 45px;
                    position: relative;
                    text-transform: uppercase;

                    &.active, &:hover {
                        > a {
                            color: $color-green;
                        }
                    }

                    &:hover {
                        ul {
                            display: block;
                        }
                    }

                    > a {
                        color: $color-grey;
                        text-decoration: none;
                    }

                    ul {
                        background-color: $color-white;
                        border: solid 1px $color-green;
                        display: none;
                        list-style: none;
                        margin: 0;
                        padding: 10px 20px;
                        position: absolute;
                        width: 260px;

                        span {
                            background-color: $color-green;
                            display: block;
                            height: 10px;
                            @include transformRotate(45deg);
                            position: absolute;
                            top: -5px;
                            width: 10px;
                        }

                        li {
                            font-size: 18px;

                            a {
                                color: $color-grey;
                                text-decoration: none;

                                &:hover {
                                    color: $color-green;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1199px) {
    .top-padding {
        height: 114px;
    }

    .header-wrapper {
        min-height: 114px;

        header {
            .logo {
                height: 79px;
                margin: 15px 0 19px;
                width: 206px;
            }

            .right {
                .menu {
                    margin: 67px 0 0;

                    > li {
                        font-size: 18px;
                        line-height: 36px;
                        margin-left: 30px;

                        ul {
                            padding: 10px 15px;
                            width: 230px;

                            li {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .top-padding {
        height: 90px;
    }

    .header-wrapper {
        min-height: 90px;

        header {
            .logo {
                height: 56px;
                margin: 15px 0 18px;
                width: 146px;
            }

            .right {
                .links {
                    a {
                        font-size: 12px;
                        line-height: 20px;
                        margin-left: 12px;
                        padding: 3px 10px;
                    }

                    .search-form {
                        input {
                            font-size: 12px;
                            line-height: 20px;
                        }

                        span, button {
                            background-size: 12px 12px;
                            height: 26px;
                            width: 26px;
                        }

                        &.active {
                            input {
                                padding: 3px 10px;
                                width: 240px;
                            }
                        }
                    }
                }

                .menu {
                    margin: 53px 0 0;

                    > li {
                        font-size: 14px;
                        line-height: 24px;
                        margin-left: 20px;

                        ul {
                            padding: 10px 15px;
                            width: 230px;

                            span {
                                height: 10px;
                                top: -5px;
                                width: 10px;
                            }

                            li {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
