// main: ../app.scss

.slider-wrapper {
    padding: 129px 0 0;

    .container {
        position: relative;

        .square {
            &.s1 {
                opacity: 0.7;
                right: 60px;
                top: 68px;
            }
            &.s2 {
                opacity: 0.26;
                right: -30px;
                top: 130px;
            }
            &.s3 {
                left: -100px;
                opacity: 0.56;
                top: 560px;
            }
            &.s4 {
                left: -150px;
                opacity: 0.26;
                top: 640px;
            }
            &.s5 {
                left: -40px;
                opacity: 0.57;
                top: 740px;
            }
        }
    }

    header {
        margin: 0 auto;
        position: relative;
        width: 510px;

        h1 {
            color: #999;
            font-size: 40px;
            font-weight: 400;
            margin: 0;

            strong {
                color: $color-green;
                font-size: 48px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        p {
            color: #666;
            font-size: 18px;
            margin: 27px 0 0;
        }

        .back-line {
            left: 110px;
            max-height: 920px;
            top: 240px;
            z-index: 1;
        }
    }

    .slider {
        height: 494px;
        margin-top: 50px;
        position: relative;

        .flex-control-nav {
            display: none;
        }

        .flex-viewport {
            height: 100%;
            margin: 0 40px;
            z-index: 3;
        }

        .slides {
            height: 100%;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                height: 100%;
                position: relative;
                width: 100%;

                .frame {
                    position: absolute;

                    img {
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        z-index: -1;
                    }

                    .text {
                        left: 0;
                        position: absolute;
                        right: 0;
                        z-index: 2;

                        h3 {
                            color: $color-white;
                            font-size: 38px;
                            font-weight: 700;
                            margin: 0;
                            text-align: center;
                            text-transform: uppercase;
                        }

                        p {
                            color: $color-white;
                            font-size: 18px;
                            margin: 0 auto;
                            text-align: center;
                            z-index: 2;
                        }
                    }

                    .overlay {
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 1;
                    }

                    &.frame1 {
                        background-color: $color-dark-green;
                        height: 377px;
                        left: 0;
                        top: 69px;
                        width: 376px;
                        z-index: 3;

                        .text {
                            top: 188px;

                            p {
                                max-width: 240px;
                            }
                        }

                        .overlay {
                            @include gradient-top-bottom(rgba(0, 104, 29, 0.39), rgba(0, 104, 29, 1));
                        }
                    }

                    &.frame2 {
                        background-color: #f9e946;
                        height: 421px;
                        left: 343px;
                        top: 0;
                        width: 433px;
                        z-index: 2;

                        .text {
                            top: 175px;

                            h3 {
                                color: #666;
                            }

                            p {
                                color: #666;
                                max-width: 340px;
                            }
                        }

                        .overlay {
                            @include gradient-top-bottom(rgba(249, 233, 70, 0.32), rgba(249, 233, 70, 1));
                        }
                    }

                    &.frame3 {
                        height: 335px;
                        left: 729px;
                        top: 160px;
                        width: 348px;
                        z-index: 3;

                        .text {
                            top: 141px;

                            p {
                                max-width: 265px;
                            }
                        }

                        .overlay {
                            @include gradient-top-bottom(rgba(93, 165, 39, 0.39), rgba(93, 165, 39, 1));
                        }
                    }
                }
            }
        }

        nav {
            a {
                background: url(../img/arrow.svg) no-repeat;
                background-size: cover;
                display: block;
                height: 27px;
                left: 0;
                position: absolute;
                text-indent: -9999px;
                top: 276px;
                width: 14px;

                &.flex-next {
                    left: auto;
                    right: 0;
                    @include transformRotate(180deg);
                    text-indent: 9999px;
                }
            }
        }
    }

    .sentence {
        background-color: #e6e6e6;
        border: solid 1px #ccc;
        font-size: 18px;
        line-height: 24px;
        margin: 30px 0 0;
        padding: 35px 0;
        position: relative;
        text-align: center;
        z-index: 3;
    }
}

.history-wrapper {
    @include clearfix;
    margin-top: 120px;

    .left {
        display: inline-block;
        float: left;
        text-align: right;
        width: 36.5%;

        h2 {
            color: #999;
            font-size: 40px;
            font-weight: 400;
            margin: 58px 0 0;

            strong {
                color: $color-green;
                font-size: 48px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        p {
            color: #666;
            font-size: 18px;
            margin: 20px 0 0;
        }
    }

    .right {
        background-color: rgba(255, 243, 57, 0.3);
        display: inline-block;
        float: right;
        position: relative;
        width: 61%;

        ul {
            list-style: none;
            margin: 0;
            padding: 40px 0 40px 87px;

            li {
                margin: 30px 0;

                a {
                    color: #666;
                    font-size: 21px;
                    font-weight: 700;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .back-line {
            right: 80px;
            max-height: 500px;
            top: 130px;
            z-index: 2;
        }
    }
}

.work-wrapper {
    @include clearfix;
    margin-top: 120px;

    .container {
        position: relative;

        .square {
            &.s1 {
                opacity: 0.26;
                right: -50px;
                top: -92px;
            }
            &.s2 {
                opacity: 0.26;
                right: -140px;
                top: -20px;
            }
            &.s3 {
                opacity: 0.77;
                right: 30px;
                top: 60px;
            }
        }
    }

    header {
        margin: 0 auto;
        max-width: 800px;

        h2 {
            color: #999;
            font-size: 40px;
            font-weight: 400;
            margin: 58px 0 0;

            strong {
                color: $color-green;
                font-size: 48px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        p {
            color: #666;
            font-size: 18px;
            margin: 20px 0 0;
        }

        a {
            background-color: $color-yellow;
            color: $color-grey;
            display: inline-block;
            float: right;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            padding: 8px 30px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                background-color: $color-grey;
                color: $color-yellow;
            }
        }
    }

    .left {
        display: inline-block;
        float: left;
        height: 448px;
        margin-top: 20px;
        position: relative;
        width: 70%;

        img {
            left: 0;
            position: absolute;
            width: 56%;
        }

        .yellow {
            background-color: rgba(255, 243, 57, 0.88);
            height: 164px;
            position: absolute;
            left: 115px;
            top: 240px;
            width: 20%;
            z-index: 1;
        }

        .green {
            background-color: rgba(93, 164, 18, 0.92);
            height: 392px;
            padding: 85px 22px 0;
            position: absolute;
            right: 0;
            top: 56px;
            width: 70%;
            z-index: 2;

            h3 {
                color: $color-white;
                font-size: 36px;
                font-weight: 400;

                strong {
                    font-weight: 700;
                }
            }
        }

        .back-line {
            left: 185px;
            max-height: 245px;
            top: 330px;
            z-index: 2;
        }
    }

    .right {
        display: inline-block;
        float: right;
        width: 30%;

        ul {
            list-style: none;
            margin: 0;
            padding: 20px 0 40px 40px;

            li {
                margin: 30px 0;

                a {
                    color: #666;
                    font-size: 21px;
                    font-weight: 700;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.companies-wrapper {
    @include clearfix;
    margin-top: 120px;

    .container {
        position: relative;

        .square {
            &.s1 {
                left: -30px;
                opacity: 1;
                top: -148px;
            }
            &.s2 {
                left: 40px;
                opacity: 0.32;
                top: -110px;
            }
            &.s3 {
                left: -100px;
                opacity: 0.64;
                top: -60px;
            }
        }
    }

    .left {
        display: inline-block;
        float: left;
        position: relative;
        text-align: center;
        width: 35%;

        h2 {
            color: #999;
            font-size: 40px;
            font-weight: 400;
            margin: 34px 0 0;

            strong {
                color: $color-green;
                font-size: 48px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }

    .right {
        column-count: 2;
        column-gap: 80px;
        display: inline-block;
        float: left;
        margin-bottom: 40px;
        width: 54.6%;

        p {
            color: $color-grey;
            font-size: 18px;
            margin: 0 0 15px;
        }
    }

    .companies-slider {
        background-color: rgba(179, 179, 179, 0.93);
        clear: both;
        height: 350px;
        position: relative;

        .flex-control-nav {
            display: none;
        }

        .flex-viewport {
            height: 100%;
            margin: 0 40px;
        }

        .slides {
            list-style: none;
            margin: 0;
            padding: 125px 0;

            li {
                height: 100px;
                text-align: center;

                img {
                    height: 100%;
                    width: auto;
                }
            }
        }

        nav {
            a {
                background: url(../img/arrow_white.svg) no-repeat;
                background-size: cover;
                display: block;
                height: 27px;
                left: 20px;
                position: absolute;
                text-indent: -9999px;
                top: 172px;
                width: 14px;

                &.flex-next {
                    left: auto;
                    right: 20px;
                    @include transformRotate(180deg);
                    text-indent: 9999px;
                }
            }
        }

        .back-line {
            left: 300px;
            max-height: 500px;
            top: 320px;
            z-index: 2;
        }
    }

    .contact {
        background-color: $color-yellow;
        display: inline-block;
        float: right;
        height: 355px;
        margin-right: 77px;
        margin-top: -120px;
        padding: 154px 40px 0;
        width: 355px;

        p {
            color: $color-grey;
            font-size: 18px;
        }

        a {
            border: solid 1px $color-grey;
            color: $color-grey;
            display: block;
            font-size: 18px;
            line-height: 30px;
            padding: 18px 0;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;

            &:hover {
                background-color: $color-grey;
                border: solid 1px $color-yellow;
                color: $color-yellow;
            }
        }
    }
}

.map-wrapper {
    padding-top: 140px;

    .container {
        position: relative;

        .square {
            &.s1 {
                left: -30px;
                opacity: 0.68;
                top: -242px;
            }
            &.s2 {
                left: 0;
                opacity: 1;
                top: -150px;
            }
        }
    }

    &.map-page {
        padding-top: 0;
        padding-bottom: 120px;
    }

    .left {
        display: inline-block;
        float: left;
        width: 46%;

        h2 {
            color: #999;
            font-size: 40px;
            font-weight: 400;
            margin: 0;

            strong {
                color: $color-green;
                font-size: 48px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        p {
            color: #666;
            font-size: 18px;
            margin: 20px 0 0;
        }
    }

    .right {
        display: inline-block;
        float: right;
        width: 48%;

        ul {
            column-count: 2;
            column-gap: 50px;
            list-style: none;
            margin: 60px 0 0;
            padding: 0;

            li {
                font-size: 21px;
                font-weight: 700;
                line-height: 30px;
                margin-bottom: 20px;

                a {
                    color: $color-grey;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .map {
        clear: both;
        position: relative;

        svg {
            height: auto;
            width: 100%;
        }

        .marker {
            background: url(../img/marker.svg) no-repeat;
            background-size: cover;
            height: 27px;
            opacity: 0.88;
            overflow: hidden;
            position: absolute;
            @include transition(all 0.4s);
            width: 21px;

            .dino {
                background: url(../img/dino.svg) no-repeat;
                background-size: cover;
                display: block;
                height: 15px;
                width: 19px;
            }

            .info {
                display: none;
                padding: 20px;

                p {
                    color: #666;
                    font-size: 16px;
                    margin: 0;
                }
            }

            &.active {
                background: $color-yellow;
                height: 168px;
                opacity: 1;
                width: 168px;

                .dino {
                    display: none;
                }

                .info {
                    display: block;
                }
            }

            &.gc {
                left: 664px;
                top: 330px;
            }

            &.tf {
                left: 448px;
                top: 238px;
            }

            &.lp {
                left: 67px;
                top: 155px;
            }

            &.lz {
                left: 1067px;
                top: 108px;
            }

            &.fv {
                left: 892px;
                top: 344px;
            }
        }
    }
}

.volunteer-wrapper {
    background: url(../img/volunteer.png) center top repeat-y;
    @include clearfix;
    margin-top: 100px;

    .left {
        background-color: $color-yellow;
        display: inline-block;
        float: left;
        padding: 22px 0 24px;
        position: relative;
        width: 17.8%;

        p {
            color: #666;
            font-size: 21px;
            font-weight: 700;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
        }

        &:after {
            background-color: $color-yellow;
            content: ' ';
            display: block;
            height: 14px;
            position: absolute;
            right: -3px;
            top: 42px;
            @include transformRotate(45deg);
            width: 14px;
        }
    }

    .right {
        background-color: #666;
        display: inline-block;
        float: left;
        padding: 18px 0 21px 45px;
        width: 82.2%;

        p {
            color: $color-white;
            display: inline-block;
            float: left;
            font-size: 24px;
            margin: 0 25px 0 0;
            text-align: right;

            strong {
                color: $color-yellow;
                font-size: 21px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }

        input {
            background: transparent;
            border: solid 1px $color-white;
            color: $color-white;
            display: inline-block;
            float: left;
            font-size: 18px;
            line-height: 25px;
            margin: 5px 15px 0 0;
            padding: 12px 20px 8px;
            width: 380px;
        }

        button {
            background: transparent;
            border: solid 1px $color-white;
            color: $color-white;
            cursor: pointer;
            display: inline-block;
            float: left;
            font-size: 18px;
            line-height: 25px;
            margin-top: 5px;
            padding: 10px 40px;
            text-transform: uppercase;

            &:hover {
                background-color: $color-white;
                color: #666;
            }
        }
    }
}

@media all and (max-width: 1199px) {
    .slider-wrapper {
        padding: 50px 0 0;

        header {
            width: 510px;

            h1 {
                font-size: 40px;
                margin: 0;

                strong {
                    font-size: 48px;
                }
            }

            p {
                font-size: 18px;
                margin: 27px 0 0;
            }

            .back-line {
                left: 190px;
                max-height: 800px;
                top: 240px;
            }
        }

        .slider {
            height: 395px;
            margin-top: 40px;

            .flex-viewport {
                margin: 0 32px;
            }

            .slides {
                li {
                    .frame {
                        .text {
                            h3 {
                                font-size: 30px;
                                margin: 0;
                            }

                            p {
                                font-size: 15px;
                                margin: 0 auto;
                            }
                        }

                        &.frame1 {
                            height: 312px;
                            left: 0;
                            top: 55px;
                            width: 311px;

                            .text {
                                top: 150px;

                                p {
                                    max-width: 240px;
                                }
                            }
                        }

                        &.frame2 {
                            height: 347px;
                            left: 284px;
                            top: 0;
                            width: 356px;

                            .text {
                                top: 160px;

                                p {
                                    max-width: 240px;
                                }
                            }
                        }

                        &.frame3 {
                            height: 278px;
                            left: 603px;
                            top: 128px;
                            width: 288px;

                            .text {
                                top: 113px;

                                p {
                                    max-width: 230px;
                                }
                            }
                        }
                    }
                }
            }

            nav {
                a {
                    height: 27px;
                    left: 0;
                    top: 206px;
                    width: 14px;

                    &.flex-next {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }

        .sentence {
            font-size: 18px;
            line-height: 24px;
            margin: 30px 0 0;
            padding: 25px 0;
        }
    }

    .history-wrapper {
        margin-top: 80px;

        .left {
            width: 36.5%;

            h2 {
                font-size: 40px;
                margin: 58px 0 0;

                strong {
                    font-size: 48px;
                }
            }

            p {
                font-size: 18px;
                margin: 20px 0 0;
            }
        }

        .right {
            width: 61%;

            ul {
                padding: 40px 0 40px 87px;

                li {
                    margin: 30px 0;

                    a {
                        font-size: 21px;
                    }
                }
            }

            .back-line {
                right: 80px;
                max-height: 370px;
                top: 130px;
            }
        }
    }

    .work-wrapper {
        margin-top: 120px;

        header {
            max-width: 800px;

            h2 {
                font-size: 40px;
                margin: 58px 0 0;

                strong {
                    font-size: 48px;
                }
            }

            p {
                font-size: 18px;
                margin: 20px 0 0;
            }

            a {
                font-size: 14px;
                line-height: 20px;
                padding: 8px 30px;
            }
        }

        .left {
            height: 448px;
            margin-top: 20px;
            width: 70%;

            img {
                left: 0;
                width: 56%;
            }

            .yellow {
                height: 131px;
                left: 115px;
                top: 240px;
                width: 20%;
            }

            .green {
                height: 284px;
                padding: 85px 22px 0;
                right: 0;
                top: 56px;
                width: 70%;

                h3 {
                    font-size: 29px;
                }
            }

            .back-line {
                left: 185px;
                max-height: 245px;
                top: 290px;
            }
        }

        .right {
            width: 30%;

            ul {
                padding: 20px 0 40px 40px;

                li {
                    margin: 30px 0;

                    a {
                        font-size: 21px;
                    }
                }
            }
        }
    }

    .companies-wrapper {
        margin-top: 80px;

        .left {
            width: 35%;

            h2 {
                font-size: 40px;
                margin: 34px 0 0;

                strong {
                    font-size: 48px;
                }
            }
        }

        .right {
            column-gap: 80px;
            margin-bottom: 40px;
            width: 54.6%;

            p {
                font-size: 18px;
                margin: 0 0 15px;
            }
        }

        .companies-slider {
            height: 250px;

            .flex-viewport {
                margin: 0 40px;
            }

            .slides {
                padding: 85px 0;

                li {
                    height: 80px;
                }
            }

            nav {
                a {
                    height: 27px;
                    left: 20px;
                    top: 111px;
                    width: 14px;

                    &.flex-next {
                        left: auto;
                        right: 20px;
                    }
                }
            }

            .back-line {
                left: 300px;
                max-height: 360px;
                top: 230px;
            }
        }

        .contact {
            height: 250px;
            margin-right: 77px;
            margin-top: -60px;
            padding: 64px 30px 0;
            width: 250px;

            p {
                font-size: 16px;
            }

            a {
                font-size: 16px;
                line-height: 24px;
                padding: 8px 0;
            }
        }
    }

    .map-wrapper {
        padding-top: 60px;

        &.map-page {
            padding-top: 60px;
            padding-bottom: 120px;
        }

        .left {
            width: 46%;

            h2 {
                font-size: 40px;

                strong {
                    font-size: 48px;
                }
            }

            p {
                font-size: 18px;
                margin: 20px 0 0;
            }
        }

        .right {
            width: 48%;

            ul {
                column-gap: 50px;
                margin: 75px 0 0;

                li {
                    font-size: 21px;
                    line-height: 30px;
                    margin-bottom: 20px;
                }
            }
        }

        .map {
            .marker {
                height: 27px;
                width: 21px;

                .dino {
                    height: 15px;
                    width: 19px;
                }

                .info {
                    padding: 20px;

                    p {
                        font-size: 16px;
                    }
                }

                &.active {
                    height: 168px;
                    width: 168px;
                }

                &.gc {
                    left: 549px;
                    top: 314px;
                }

                &.tf {
                    left: 369px;
                    top: 236px;
                }

                &.lp {
                    left: 54px;
                    top: 170px;
                }

                &.lz {
                    left: 881px;
                    top: 132px;
                }

                &.fv {
                    left: 736px;
                    top: 324px;
                }
            }
        }
    }

    .volunteer-wrapper {
        margin-top: 100px;

        .left {
            padding: 22px 0 24px;
            width: 22%;

            p {
                font-size: 18px;
            }

            &:after {
                height: 14px;
                right: -3px;
                top: 42px;
                width: 14px;
            }
        }

        .right {
            padding: 18px 0 21px 45px;
            width: 78%;

            p {
                font-size: 20px;
                margin: 0 25px 0 0;

                strong {
                    font-size: 18px;
                }
            }

            input {
                font-size: 18px;
                line-height: 25px;
                margin: 2px 15px 0 0;
                padding: 12px 20px 8px;
                width: 280px;
            }

            button {
                font-size: 16px;
                line-height: 25px;
                margin-top: 2px;
                padding: 10px 30px;
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .slider-wrapper {
        padding: 50px 0 0;

        header {
            width: 510px;

            h1 {
                font-size: 40px;
                margin: 0;

                strong {
                    font-size: 48px;
                }
            }

            p {
                font-size: 18px;
                margin: 27px 0 0;
            }

            .back-line {
                left: 190px;
                max-height: 610px;
                top: 240px;
            }
        }

        .slider {
            height: 292px;
            margin-top: 40px;

            .flex-viewport {
                margin: 0 26px;
            }

            .slides {
                li {
                    .frame {
                        .text {
                            h3 {
                                font-size: 24px;
                                margin: 0;
                            }

                            p {
                                font-size: 12px;
                                margin: 0 auto;
                            }
                        }

                        &.frame1 {
                            height: 232px;
                            left: 0;
                            top: 40px;
                            width: 231px;

                            .text {
                                top: 115px;

                                p {
                                    max-width: 173px;
                                }
                            }
                        }

                        &.frame2 {
                            height: 257px;
                            left: 211px;
                            top: 0;
                            width: 264px;

                            .text {
                                top: 122px;

                                p {
                                    max-width: 173px;
                                }
                            }
                        }

                        &.frame3 {
                            height: 207px;
                            left: 448px;
                            top: 92px;
                            width: 214px;

                            .text {
                                top: 88px;

                                p {
                                    max-width: 166px;
                                }
                            }
                        }
                    }
                }
            }

            nav {
                a {
                    height: 27px;
                    left: 0;
                    top: 150px;
                    width: 14px;

                    &.flex-next {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }

        .sentence {
            font-size: 16px;
            line-height: 24px;
            margin: 30px 0 0;
            padding: 20px 0;
        }
    }

    .history-wrapper {
        margin-top: 50px;

        .left {
            width: 36.5%;

            h2 {
                font-size: 40px;
                margin: 28px 0 0;

                strong {
                    font-size: 48px;
                }
            }

            p {
                font-size: 18px;
                margin: 20px 0 0;
            }
        }

        .right {
            width: 61%;

            ul {
                padding: 30px 0 30px 57px;

                li {
                    margin: 30px 0;

                    a {
                        font-size: 18px;
                    }
                }
            }

            .back-line {
                right: 80px;
                max-height: 320px;
                top: 120px;
            }
        }
    }

    .work-wrapper {
        margin-top: 70px;

        header {
            max-width: 800px;

            h2 {
                font-size: 40px;
                margin: 58px 0 0;

                strong {
                    font-size: 48px;
                }
            }

            p {
                font-size: 18px;
                margin: 20px 0 0;
            }

            a {
                font-size: 14px;
                line-height: 20px;
                padding: 8px 30px;
            }
        }

        .left {
            height: 448px;
            margin-top: 20px;
            width: 70%;

            img {
                left: 0;
                width: 56%;
            }

            .yellow {
                height: 98px;
                left: 85px;
                top: 155px;
                width: 20%;
            }

            .green {
                height: 213px;
                padding: 25px 22px 0;
                right: 0;
                top: 56px;
                width: 70%;

                h3 {
                    font-size: 29px;
                }
            }

            .back-line {
                left: 120px;
                max-height: 285px;
                top: 175px;
            }
        }

        .right {
            width: 30%;

            ul {
                padding: 20px 0 40px 20px;

                li {
                    margin: 30px 0;

                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .companies-wrapper {
        margin-top: 30px;

        .left {
            width: 35%;

            h2 {
                font-size: 40px;
                margin: 34px 0 0;

                strong {
                    font-size: 48px;
                }
            }
        }

        .right {
            column-gap: 30px;
            margin-bottom: 40px;
            padding-left: 40px;
            width: 54.6%;

            p {
                font-size: 16px;
                margin: 0 0 15px;
            }
        }

        .companies-slider {
            height: 180px;

            .flex-viewport {
                margin: 0 40px;
            }

            .slides {
                padding: 61px 0;

                li {
                    height: 58px;
                }
            }

            nav {
                a {
                    height: 27px;
                    left: 20px;
                    top: 74px;
                    width: 14px;

                    &.flex-next {
                        left: auto;
                        right: 20px;
                    }
                }
            }

            .back-line {
                left: 250px;
                max-height: 350px;
                top: 165px;
            }
        }

        .contact {
            height: 250px;
            margin-right: 50px;
            margin-top: -60px;
            padding: 64px 30px 0;
            width: 250px;

            p {
                font-size: 16px;
            }

            a {
                font-size: 16px;
                line-height: 24px;
                padding: 8px 0;
            }
        }
    }

    .map-wrapper {
        padding-top: 60px;

        &.map-page {
            padding-top: 60px;
            padding-bottom: 120px;
        }

        .left {
            width: 46%;

            h2 {
                font-size: 40px;

                strong {
                    font-size: 48px;
                }
            }

            p {
                font-size: 18px;
                margin: 20px 0 0;
            }
        }

        .right {
            width: 48%;

            ul {
                column-gap: 50px;
                margin: 75px 0 0;

                li {
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 20px;
                }
            }
        }

        .map {
            .marker {
                height: 27px;
                width: 21px;

                .dino {
                    height: 15px;
                    width: 19px;
                }

                .info {
                    padding: 20px;

                    p {
                        font-size: 16px;
                    }
                }

                &.active {
                    height: 168px;
                    width: 168px;
                }

                &.gc {
                    left: 549px;
                    top: 314px;
                }

                &.tf {
                    left: 369px;
                    top: 236px;
                }

                &.lp {
                    left: 54px;
                    top: 170px;
                }

                &.lz {
                    left: 881px;
                    top: 132px;
                }

                &.fv {
                    left: 736px;
                    top: 324px;
                }
            }
        }
    }

    .volunteer-wrapper {
        margin-top: 60px;

        .left {
            padding: 22px 0 20px;
            width: 22%;

            p {
                font-size: 16px;
            }

            &:after {
                height: 14px;
                right: -3px;
                top: 34px;
                width: 14px;
            }
        }

        .right {
            padding: 18px 0 21px 15px;
            width: 78%;

            p {
                font-size: 18px;
                margin: 0 15px 0 0;

                strong {
                    font-size: 16px;
                }
            }

            input {
                font-size: 14px;
                line-height: 20px;
                margin: 2px 10px 0 0;
                padding: 10px 20px 6px;
                width: 200px;
            }

            button {
                font-size: 14px;
                line-height: 20px;
                margin-top: 2px;
                padding: 10px 20px 6px;
            }
        }
    }
}
