// main: ../app.scss

.breadcrumbs {
    color: #b3b3b3;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
    padding-top: 40px;

    a {
        color: #b3b3b3;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.page-wrapper {
    @include clearfix;
    
    h1 {
        color: #999;
        font-size: 36px;
        font-weight: 400;
        margin: 0;

        strong {
            color: $color-green;
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
